{% comment %} la zone de filtre d'options {% endcomment %}
<div id="productFilter" class="action-bar-secondary filter_bar">
    {%comment%} Ici on boucle pour récupéré tous les noms d'options {%endcomment%}
        {% for product in my_products %} 
            {% for product_option in product.options_with_values %}
                {% assign myOptions = myOptions | append: ', ' | append: product_option.name %}
            {% endfor %}
        {% endfor %}
        {% assign listOption = myOptions | split: ', ' | uniq %}
    {%comment%} Ici on boucle pour récupéré toutes les valeurs de options {%endcomment%}

    {%for oneOption in listOption %}
        {% if oneOption != 'Title' and oneOption != '' %}{%comment%} On enleve le title et le vide {%endcomment%}
          <div id="productFilter" class="productFilter">
              <label for="{{ oneOption }}"> Trie par {{ oneOption }} : </label>
              <select onChange="select_change();" class="oneFilter" id="select_item" name={{ oneOption }}>
              <option value="Tous">Tous</option>
                  {% for product in my_products %}
                      {% for product_option in product.options_with_values %}
                          {% if product_option.name == oneOption %} {%comment%} alors on regarde les val voir si elle sont dedans {%endcomment%}
                              {% for value in product_option.values %}
                                  {% assign myValue = value | split: '' %} {%comment%} on met la val en array {%endcomment%}
                                  {% unless listValue contains value %}
                                      <option value="{{ value }}">{{ value }}</option>
                                  {% endunless %}
                                  {% assign allValue = allValue | append: ', ' | append: value %}
                                  {% assign listValue = allValue | split: ', ' | uniq %}
                              {% endfor %}
                          {% endif %}
                      {%endfor%}
                  {%endfor%}
              </select>
          </div>
        {%endif%}
    {%endfor%}
</div>