{% comment %} d'abord on récupère les vendeurs {% endcomment %}
{% for product in collections.all.products %}
  {% assign myVendors = myVendors | append: ', ' | append: product.vendor %}
{% endfor %}
{% assign allVendor = myVendors | split: ',' | uniq%}
<select class="vendors_select" id="vendors_select" name="vendors_select">
  <option value="Vendeurs" disabled>Vendeurs</option>
  <option value="Tous">Tous</option>
  {% for vendor in allVendor %}
    {%if vendor != '' %}
      <option value={{ vendor | url_for_vendor }}{% if current_vendor contains vendor %} selected="selected"{% endif %}>
        {{ vendor }} {% comment %} lien vers le sort_by vendor {% endcomment %}
      </option>
    {% endif %}
  {% endfor %}
</select>

<script>
  document.querySelector('#vendors_select').addEventListener('change', function(e) {
      var selected_Vendor_Value = document.getElementById("vendors_select");
      if(selected_Vendor_Value.value == 'Tous')
      {
          {% if collection.handle %}
              window.location.href = "/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}";
          {% elsif collection.current_type %}
              window.location.href = "{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}";
          {% elsif collection.current_vendor %}
              window.location.href = "{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}";
          {% endif %}
      }
      else if(selected_Vendor_Value.value != 'disabled')
      {
          var actual_Vendor = '{{ collection.current_vendor | json }}';
          if(actual_Vendor != selected_Vendor_Value.options[selected_Vendor_Value.selectedIndex].text)
          {
              window.location.href = selected_Vendor_Value.value;
          }
      }
  });
</script>