{% if cart.item_count > 0 %}
  <h1 class="myCart-H1">Mon Panier</h1>
  <form action="/cart" method="post" novalidate>
    <div class="myCart">
      <div class="myCart-products">
        <h3 class="myCart-H3"> Votre Choix ( {{ cart.item_count }} Articles)</h3>
        <div class="myProducts">
          <table class="myProducts-table">
            <thead>
              <th class="myProducts-th">ARTICLE</th>
              <th class="myProducts-th">DESCRIPTIF</th>
              <th class="myProducts-th">PRIX UNITAIRE</th>
              <th class="myProducts-th">QUANTITE</th>
              <th class="myProducts-th">Sous-Total</th>
              <th class="myProducts-th"></th>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr>
                <td class="myProducts-td">
                  <a href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: 'medium' }}"
                      alt="{{ item.title | escape }}">
                  </a>
                </td>
                <td class="myProducts-td">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                  
                </td>
                <td class="myProducts-td">{{ item.price | money }}</td>
                <td class="myProducts-td">
                  <input type="number" name="updates[]" id="updates_{{ item.key }}"
                      value="{{ item.quantity }}" min="0">
                </td>
                <td class="myProducts-td">
                  {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                </td>
                <td class="myProducts-td">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0"><li class="fas fa-times"></li></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="myCart-resume">
        <h3 class="myCart-H3"> Total Du Panier </h3>
        <div>
          <h4 class="myCart-H4">Sous-total</h4>
          <h4 class="myCart-H4"> {{ cart.items_subtotal_price | money }} </h4>
          <input type="checkbox">
          <label>À domicile: <strong>10.00€</strong></label>
          <p>(Confirmation de livraison par mail.)</p>
          <input type="checkbox">
          <label>À domicile sur RDV: <strong>14.50€</strong></label>
          <p>(SMS la veille au soir avec 3 propositions d'horaires.)</p>
          <p>Les options de livraison seront mises à jour lors de la commande.</p>

          <h4 class="myCart-H4">Expédition</h4>
          <h4 class="myCart-H4"><strong>Estimation des frais de livraison</strong></h4>
          <select name="country">
            {{ country_option_tags }}
          </select>
          
        </div>
        <h4 class="myCart-H4">Total</h4>
        <h4 class="myCart-H4">{{ cart.total_price | money }}</h4>
        <button class="commadenValider">Valier la commande</button>
        <button class="continuerAchats">Continuer Mes Achats</button>
      </div>
    </div>  
  </form>
  {% section 'product-recommandations' %}
{% else %}
  <div class="emptycart">
    <h1 class="emptycart-titre" >Mon Panier</h1>
    <p class="emptycart-texte">Cart is empty</p>
  </div>
  
{% endif %}

{% style %}
  .emptycart{
    display:grid;
    grid-templates-columns: repeat(4, 1fr);
  }

  .emptycart-titre{
    text-align:center;
    font-family:cursive;
    grid-column:1/4;
    margin-bottom:25px;
  }

  .emptycart-texte{
    font-family:cursive;
    grid-column:2;
  }

  .myCart-H1{
    text-align:center;
    font-family:cursive;
    font-weight:900;
  }

  .myCart-H3{
    font-family:cursive;
    font-style: italic;
  }

  .myCart-H4{
    font-family:cursive;
    font-style: italic;
  }

  @media screen and (max-width:1000px) {
    .myCart{
      display:grid;
      grid-templates-columns: repeat(1,1fr);
    }
    
    .myCart-products{
      grid-column:1;
      grid-row:1;
    }

    .myCart-resume{
      grid-column:1;
      grid-row:2;
    }

    .myProducts{
      padding: 0;
    }
  }

  .myCart{
    display:grid;
    grid-templates-columns: repeat(4, 1fr);
  }

  .myCart-products{
    grid-column:2;
  }
  
  .myCart-resume{
    grid-column:3;
  }

  .myProducts{
    padding-left:10px;
  }

  .myProducts-th{
    border:solid;
    border-left:none;
    border-right:none;
    text-align:center;
  }

  .myProducts-td{
    border:solid;
    border-left:none;
    border-right:none;
    text-align:center;
    vertical-align:middle;
  }

  .myProducts-table{
    width:100%;
  }
{% endstyle %}