{%comment%} Le html d'un produit {%endcomment%}
<div class="productShow">  
  <a class="aRef" href="{{ section.settings.productLink }}">
    <div class="product-img">
    <img id="{{ section.id }}" class="product-img" 
      onmouseout="this.src='{{ section.settings.imgProduct1 | img_url }}'" 
      onmouseover="this.src='{{ section.settings.imgProduct2 | img_url }}'" 
      src="{{ section.settings.imgProduct1 | img_url }}"
        alt="ProductImg">
    </div>
    <div class="product-details">
      <h3 class="product-details-Nom">{{ section.settings.productName }}</h3>
      <p class="product-details-Prix">{{ section.settings.productPrice }}</p>
    </div>
  </a>
</div>
