{%comment%} Un templates d'un page montrant des produits avec en plus un filtre au dessus {%endcomment%}
{%comment%} L'html de la page {%endcomment%}
<div class="productShowFilter">
    <div class="productShowFilter-Filter">
        <div class="productShowFilter-Filter-1">
            <button id="productFilterBtn" class="productFilterBtn" onclick=openFilters()><i class="fas fa-plus"></i> Filtres</button>
            <button class="buttonRef" onclick=changeClassOfLayout(1)>
                <i class="fas fa-th-large"></i></button>
            <button class="buttonRef" onclick=changeClassOfLayout(2)>
                <i class="fas fa-list"></i></button>
            <button class="buttonRef" onclick=changeClassOfLayout(3)>
                <i class="fas fa-th"></i></button>
        </div>
        <div class="productShowFilter-Filter-2">
            <select name="sort_by">
                {% for collection in collections %}
                    {% for option in collection.sort_options %}
                        <option value="{{ option.value }}">{{ option.name }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="productFilter" class="productFilter">
        {%comment%} Ici on boucle pour récupéré tous les noms d'option {%endcomment%}
        {% assign myOptions = '' | split '' %}
        {% for collection in collections %}
            {% for product in collection.products %} 
                {% for product_option in product.options_with_values %}
                    {% assign myProduct = product_option.name | split: '' %}
                    {% assign valtest = myOptions | split: ', ' | uniq %}
                    {% unless valtest contains product_option.name or product_option.name == 'Title' %}
                        <select class="oneFilter" id={{ product_option.name }} name={{ product_option.name }}>
                            <option value="{{ product_option.name }}">{{ product_option.name }}</option>
                            {% for value in product_option.values %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    {% endunless %}
                    {% assign myOptions = myOptions | append: ', ' | append: product_option.name %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>

    {%comment%} Puis on affiche le produit selon le layout qui déterminer avec changeClassOfLayout {%endcomment%}
    <div id="myLayout" class="oneProduct-Standard">
        {% for collection in collections %}
            {%for product in collection.products %}
                {%comment%} Ici on filtre en fonction de ce qu'il y a au dessus {%endcomment%}
                <div class="oneProduct">
                    <div class="oneProduct-img"> 
                        <img src="{{ product | img_url: "large" }}"> 
                    </div>
                    
                    <div class="oneProduct-h2">
                        <h2>{{ product.title }}</h2>
                    </div>
                    
                    <div class="oneProduct-desc"> 
                        <p>{{ product.description }}</p>
                    </div>
                    
                    <div class="oneProduct-price"> 
                        <p>{{ product.price }}</p> 
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{%comment%} Ici le style css de la page {%endcomment%}
{% style %}
    .productShowFilter{
        display:grid;
    }

    .productShowFilter-Filter{
        border:solid;
        border-color:black;
        border-right:none;
        border-left:none;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(1,1fr);
        display:grid;
        grid-row:1;
        margin-left:5px;
        margin-right:5px;
    }

    
    .productShowFilter-Filter-1{
        grid-column:1;
        display:grid;
        width:max-content;
        grid-template-columns:repeat(4,1fr);
    }

    .productFilter{
        grid-template-columns:repeat(4,1fr);
        display:grid;
        grid-row:2;
        grid-gap:25px;
        margin-top:10px;
        margin-left:15px;
        margin-right:15px;
        left: -999px;
        position:absolute;
    }
    .productFilter.open{
        left:0;
        position:none;
    }
    .productFilterBtn{
        background:none;
        border:none;
    }
    .oneFilter{
        font-size: .9rem;
        padding: 2px 5px;
        background-color:black;
        color: white;
        -moz-appearance: none;
        border: none;
    }
    .productShowFilter-Filter-2{
        grid-column:2;
        justify-content:flex-end;
        display:flex;
        margin-top:auto;
        margin-bottom:auto;
    }

    .productShowFilter-Filter-open{
        display:grid;
        grid-template-columns:repeat(4,1fr);
    }

    .oneProduct-Standard{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        margin-top:5%;
        margin-right:5%;
        margin-left:5%;
    }

    .oneProduct-Standard.oneProduct-img{

    }
    .oneProduct-Standard.oneProduct-h2{

    }
    .oneProduct-Standard.oneProduct-desc{
        display:none;
    }
    .oneProduct-Standard.oneProduct-price{

    }
    .oneProduct-List{
        display:grid;
        grid-template-rows:repeat(1,1fr);
        margin-top:5%;
        margin-right:5%;
        margin-left:5%;
        grid-gap:5%;
        grid-gap:5%;
        .oneProduct{
            display:grid;
            grid-templates-column:2;    
        }
    }

    .oneProduct-List.oneProduct{

    }

    .oneProduct-List.oneProduct-img{
        grid-column:1;
    }
    .oneProduct-List.oneProduct-h2{
        grid-column:2/4;
    }
    .oneProduct-List.oneProduct-desc{
        grid-column:2/4;
    }
    .oneProduct-List.oneProduct-price{
        grid-column:2/4;
    }

    .oneProduct-Grid{
        display:grid;
        grid-template-columns:repeat(5,1fr);
        margin-top:5%;
        margin-right:3%;
        margin-left:3%;
        grid-gap:5%;
    }

    .oneProduct-Grid.oneProduct-img{

    }
    .oneProduct-Grid.oneProduct-h2{

    }
    .oneProduct-Grid.oneProduct-desc{
        display:none;
    }
    .oneProduct-Grid.oneProduct-price{

    }
    @media screen and (max-width:1060px) {
        .oneProduct-Standard{
            grid-template-columns:repeat(2,1fr);
        }
        .oneProduct-Grid{
            grid-template-columns:repeat(3,1fr);
        }
      }
    
      @media screen and (max-width:600px) {
        .oneProduct-Standard{
            grid-template-columns:repeat(1,1fr);
        }
        .oneProduct-Grid{
            grid-template-columns:repeat(1,1fr);
        }
      }
{% endstyle %}