{%comment%} Un templates d'un page montrant des produits avec en plus un filtre au dessus {%endcomment%}
{%comment%} L'html de la page {%endcomment%}
<div class="productShowFilter">
    <div class="productShowFilter-Filter">
        <div class="productShowFilter-Filter-1">
            <button class="productFilterBtn" onclick=openFilters()><i class="fas fa-plus"></i> Filtres</button>
            <button class="buttonRef" onclick={% assign myLayout = 1 %}><i class="fas fa-th-large"></i></button>
            <button class="buttonRef" onclick={% assign myLayout = 2 %}><i class="fas fa-list"></i></button>
            <button class="buttonRef" onclick={% assign myLayout = 3 %}><i class="fas fa-th"></i></button>
        </div>
        <div class="productShowFilter-Filter-2">
            <select name="sort_by">
                {% for collection in collections %}
                    {% for option in collection.sort_options %}
                        <option value="{{ option.value }}">{{ option.name }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="productFilter">
        {% assign numOption = 1 %}
        {% assign isIn = false %}
        {% assign myOptions = '' | split '' %}
        {% for collection in collections %}
            {% for product in collection.products %} 
                {% for product_option in product.options_with_values %}
                    {% assign myProduct = product_option.name | split: ' _ ' %}
                    {% assign myOptions = myOptions | concat: myProduct | join: ', '%}
                {% endfor %}
            {% endfor %}
        {% endfor %}
<br><br>
        
        <p>LALALA{{ myOptions }}OUIIII</p>
        LA
        
        {% assign myBettterOption = myOptions | split: ', ' %}
        {% assign myBB = {{ myBettterOption | uniq | join: ", " }} %}
         C I <br> <br>
        
        <br>
        im the new strings
        {% for s in myBB %} 
            {{s}} <br>
        {% endfor %}
        and the end
        
        <select name="oneFilter">
           
                <option value="i">Oui</option>
          
        </select>
        {%comment%} Affiche les filtres disponibles
        {% for collection in collections %}
            {% for product in collection.products %}
                {% for variant in product.variants %}
                    {% for option in variants.options %}
                    <select name="oneFilter">
                        <option value="{{ variant.id }}">{{ variant.id }}</option>
                        <option value="{{ variant.id }}">{{ variant.id }}</option>
                        <option value="{{ variant.id }}">{{ variant.id }}</option>
                    </select>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {%endcomment%}
    </div>
    {%if myLayout == 1%} {%comment%} Puis on affiche le produit selon la layout {%endcomment%}
        <div class="oneProduct-Standard">
    {%elsif myLayout == 2%}{%comment%} Puis on affiche le produit selon la layout {%endcomment%}
        <div class="oneProduct-List">
    {%else %}{%comment%} Puis on affiche le produit selon la layout {%endcomment%}
        <div class="oneProduct-Grid">
    {%endif %}  
    {% for collection in collections %}
        {%for product in collection.products %}
            {%comment%} Ici on filtre en fonction de ce qu'il y a au dessus {%endcomment%}
            {% for option in product.options %}
                {%if option == myOptions %}
                    <div class="oneProduct-img"> <img src="{{ product | img_url }}"> </div>
                    <div class="oneProduct-h2"> <h2>{{ product.title }}</h2> </div>
                    <div class="oneProduct-desc"> <p>{{ product.description }}</p> </div>
                    <div class="oneProduct-price"> <p>{{ product.price }}</p> </div>
                {%endif %} 
            {% endfor %}       
        {% endfor %}
    {% endfor %}
</div>

{%comment%} Ici le style css de la page {%endcomment%}
{% style %}
    .productShowFilter{
        display:grid;
    }

    .productShowFilter-Filter{
        border:solid;
        border-color:black;
        border-right:none;
        border-left:none;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(1,1fr);
        display:grid;
        grid-row:1;
    }

    
    .productShowFilter-Filter-1{
        grid-column:1;
        display:grid;
        width:max-content;
        grid-template-columns:repeat(4,1fr);
    }

    .productFilter{
        grid-template-columns:repeat(4,1fr);
        display:grid;
        grid-row:2;
        grid-gap:25px;
        /*left: -999px;
        position:absolute;*/
    }
    .productFilter.open{
        left:0;
        position:none;
    }
    .productFilterBtn{
        background:none;
        border:none;
    }
    .oneFilter{
        color:white;
        background-color:black;
    }
    .productShowFilter-Filter-2{
        grid-column:2;
        justify-content:flex-end;
        display:flex;
        margin-top:auto;
        margin-bottom:auto;
    }

    .productShowFilter-Filter-open{
        display:grid;
        grid-template-columns:repeat(4,1fr);
    }

    .oneProduct-Standard{
        display:grid;
        grid-template-columns:repeat(4,1fr);
    }

    .oneProduct-Standard.oneProduct-img{

    }
    .oneProduct-Standard.oneProduct-h2{

    }
    .oneProduct-Standard.oneProduct-desc{

    }
    .oneProduct-Standard.oneProduct-price{

    }
    .oneProduct-List{
        display:grid;
        grid-template-columns:repeat(1,1fr);
    }

    .oneProduct-List.oneProduct-img{

    }
    .oneProduct-List.oneProduct-h2{

    }
    .oneProduct-List.oneProduct-desc{

    }
    .oneProduct-List.oneProduct-price{

    }
    .oneProduct-Grid{
        display:grid;
        grid-template-columns:repeat(5,1fr);
    }

    .oneProduct-Grid.oneProduct-img{

    }
    .oneProduct-Grid.oneProduct-h2{

    }
    .oneProduct-Grid.oneProduct-desc{

    }
    .oneProduct-Grid.oneProduct-price{

    }
    @media screen and (max-width:1060px) {
        .oneProduct-Standard{
            grid-template-columns:repeat(2,1fr);
        }
        .oneProduct-Grid{
            grid-template-columns:repeat(3,1fr);
        }
      }
    
      @media screen and (max-width:600px) {
        .oneProduct-Standard{
            grid-template-columns:repeat(1,1fr);
        }
        .oneProduct-Grid{
            grid-template-columns:repeat(1,1fr);
        }
      }
{% endstyle %}