{%comment%} Ici un modele de page qui affiche l'ensemble des colllections {%endcomment%}
<div class="ShowAllCollections">
    <div class="ShowAllCollections-title">
        <h1>{{ pages.collectionsShow.title }}</h1>
    </div>
    <div class="ShowAllCollections-contenu">
        {% if shop.collections_count == 0 %}
            <div class="contenu-noCollections">
                <h2>Il n'existe encore aucune collecton</h2>
            </div>
        {% else %}
            {% for collection in collections %}
                {% assign numLigne = 1 %}
                {% assign numColonne = 2 %}
                <div style="grid-row:{{ numLigne }}; grid-column:{{numColonne}};" class="contenu-showOneCollection">
                    <a href="{{ collection.url }}">
                        {% if collection.image %}
                            <div class="oneCollection-img">
                                <img src="{{ collection.image | img_url: 'medium' }}">
                            </div>
                        {% endif %}
                        <div class="oneCollection-title">
                            <h2>{{ collection.title }}</h2>
                        </div>
                    </a>
                </div>

                {%comment%} Gestion de l'affichage ligne col des collections {%endcomment%}
                {%if numColonne == 4 %}
                    {% assign numColonne = 2 %}
                    {% increment numLigne %}
                {% else %}
                    {% increment numColonne %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div> 
</div>

{% style %}
    .ShowAllCollections{
        font-family: cursive;
        font-weight: bold;
        display:grid;
    }

    .ShowAllCollections-contenu{
        display:grid;
        grid-column:1/5;
    }

    .contenu-noCollections{
        grid-column:3;
        grid-row:1;
    }
{% endstyle %}