{%comment%} Fiche Produit {%endcomment%}
<div class="ficheProduct">
  {% assign current_variant = product.selected_or_first_available_variant %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

  {%comment%} Zone sur les images {%endcomment%}
  <div class="ficheProduct-Img">
    <img class="ficheProduit-BigImg" src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    <div class="ficheProduct-SousImg">
      {%assign ficheProductnbImg = 0%}
      {% for image in product.images %}
      <a class="ficheProduct-SousImg-{%increment ficheProductnbImg%}" href="{{ image.src | img_url: 'large' }}">
        <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
      </a>
      {% endfor %}
    </div>
  </div>

  {%comment%} Zone sur le contenu de la fiche produit {%endcomment%}
  <div class="ficheProduct-Contenu">
    {%comment%} Zone sur le titre {%endcomment%}
    <h1 class="ficheProduct-Contenu-Title">{{ product.title }}</h1>

    {%comment%} Zone des bouttons pour changer d'articles {%endcomment%}
    <div class="ficheProduct-OtherArticle">
      <button class="buttonRef" style="grid-row:1;"><a class="aRef" href="">
          <i class="fas fa-chevron-right"></i>
        </a></button>
    
      <button class="buttonRef" style="grid-row:2;"><a class="aRef" href="">
          <i class="fas fa-chevron-left"></i>
        </a></button>
    </div>

    {%comment%} Zone sur la description du produit {%endcomment%}
    <div class="ficheProduct-Desc">{{ product.description }}</div>

    {%comment%} Zone sur le contenu personnalisé : prix/quantity etc {%endcomment%}
      <form class="ficheProduct-personnalise" action="/cart/add" method="post" enctype="multipart/form-data"
        id="AddToCartForm">
        <select name="id" id="productSelect">
          {% for variant in product.variants %}
          {% if variant.available %}
          <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money_with_currency }}
          </option>
          {% else %}
          <option disabled="disabled">
            {{ variant.title }} - sold out
          </option>
          {% endif %}
          {% endfor %}
        </select>
        {{ current_variant.price | money }}
        <label for="Quantity">quantity</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1">
        <button type="submit" name="add" id="AddToCart">Add to cart</button>
      </form>

    {%comment%} Zone des logos Facebook/Twitter/Instagram {%endcomment%}
    <div class="ficheProduct-Logos">
      <button class="buttonRef"> <a class="aRef" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsylvie-strohl.com%2Fproduit%2Folivia-90%2F">
        <i class="fab fa-facebook"></i>
      </a></button>
    
      <button class="buttonRef"><a class="aRef" href="http://twitter.com/share?text=http://OLIVIA%2090&url=https%3A%2F%2Fsylvie-strohl.com%2Fproduit%2Folivia-90%2F"> 
        <i class="fab fa-twitter"></i>
      </a></button>
    
      <button class="buttonRef"> <a class="aRef" href="http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fsylvie-strohl.com%2Fproduit%2Folivia-90%2F&media=https://sylvie-strohl.com/wp-content/uploads/2019/12/OLIVIA-90-FACE-SANS-M2TAL.jpg&description=http://OLIVIA%2090">
        <i class="fab fa-instagram"></i>
      </a></button>
    </div>

    {%comment%} Zone des produit associés {%endcomment%}
    <div class="ficheProduct-associateProduct">
      <button class="ficheProduct-associateProduct-Btn" onclick=AssociateProductClick()>Produits associes <i class="fas fa-plus"></i></button>
      <div class="ficheProduct-associateProduct-products">
        {%assign associatePnbImg = 0%}
        {% for image in product.images %}
            <a class="associateProduct-products-{% increment associatePnbImg %}" href="{{ image.src | img_url: 'large' }}">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  
</div>

<br><br><br>
<div class="infosComplementairesProduct">
  <div class="infosComplementairesProduct-Titre">
    <button class="infosComplementairesProduct-Btn" onclick=infosComplementairesProduct()>Informations supplémentaires</button>
    <div class="infosComplementairesProduct-Show">
     <p>I'm SHOWING THE INFORMATION of </p>
    </div>
  </div>
  <div class="infosComplementairesProduct-paragraphe">
    <div class="infosComplementairesProduct-p">
      <p>
        {{ product.description }}
      </p>
    </div>
    <div class="infosComplementairesProduct-Btn">
      <button style="background:none;border:solid;"><i class="fas fa-cart-plus"></i></i> Entretien</button>
    </div>
  </div>
</div>

<br><br><br>

<div class="listProductLike">
  <h2>VOUS AIMEREZ AUSSI...</h2>
  <div class="listProduit">
    {% assign myType = product.type %}
    {% for product in all_types.product %}
      {% if myType == product.type %}
        <h1>{{ product.description }}</h1>
      {% endif %}
    {% endfor %}
  </div>
</div>

<br><br><br>