<!-- /templates/customers/account.liquid -->

<div class="page-width page-container">

  <header class="section-header">
    <h1>{{ 'customer.account.title' | t }}</h1>
  </header>
  
  <h2>Informations de l'utilisateur</h2>
  <div class="div_message" id="div_message"></div>
  <div class="user_data">
    <span>
      <label for="first_name"> Prénom </label>
      <textarea name="first_name" id="t_first_name">{{ customer.first_name }}</textarea>  
    </span>
   
    <span>
      <label for="last_name"> Nom </label>
      <textarea name="last_name" id="t_last_name">{{ customer.last_name }}</textarea>
    </span>
   
    <span>
      <label for="email"> Email</label>
      <textarea name="email" id="t_email">{{ customer.email }}</textarea>
    </span>
    
    <span>
      <label for="phone"> Numéro de téléphone </label>
      <textarea name="phone" id ="t_phone">{{ customer.phone }}</textarea>
    </span>
  </div>
  <p>Nombre d'achat : {{ customer.orders_count }}</p>

  <div class="btn_Account">
    <button class="btn" onclick="change_account()">
      Modifier le compte
    </button>
  </div>

  <h2>{{ 'customer.orders.title' | t }}</h2>

  {% comment %}
    If we have past orders, loop through each one
  {% endcomment %}
  {% paginate customer.orders by 20 %}
    {% if customer.orders.size != 0 %}

      {% comment %}
        Responsive Table for small screens
      {% endcomment %}
      <table class="responsive-table">
        <thead>
          <tr>
            <th>{{ 'customer.orders.order_number' | t }}</th>
            <th>{{ 'customer.orders.date' | t }}</th>
            <th>{{ 'customer.orders.payment_status' | t }}</th>
            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
            <th>{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
            <tr>
              <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
              <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'date' }}</td>
              <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
              <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
              <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      <p>{{ 'customer.orders.none' | t }}</p>

    {% endif %}
    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}
  {% endpaginate %}

  <hr class="hr--clear">

  <h2>{{ 'customer.account.details' | t }}</h2>

  {{ customer.default_address | format_address }}

  <p><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  
  <div class="btn_Account">
    <button class="btn" onclick="delete_account()">
      Supprimer le compte
    </button>
  </div>>
</div>

{% style %}
  .div_message{
    background-color: green;
    height: 150px;
    color: white;
    display:none;
  }

  .user_data{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

  .user_data span{
    grid-column: auto;
    margin:5px;
    display: grid;
  }

  .btn_Account{
    text-align:end;
  }
{% endstyle %}

<script>
  var customer_id = {{ customer.id }};
  var target = 'https://gracietboutiquetpetest.myshopify.com//admin/api/2020-04/customers/' + customer_id + '.json';
  
  function delete_account()
  {
    const deleteMethod = {
      method: 'DELETE',
      headers: {
        'Content-type': 'application/json',
        'X-Shopify-Access-Token' : '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'
      }
    }

    fetch(target, deleteMethod) 
    .then(response => response.json())
    .then(data => window.location.href = "{{ shop.url }}") 
    .catch(err => div_Message_Change("red", "Error in delete"))
  }

  function change_account()
  {
    var c_last_name = document.getElementById("t_last_name").value;
    var c_first_name = document.getElementById("t_first_name").value;
    var c_email = document.getElementById("t_email").value;
    var c_phone = document.getElementById("t_phone").value;

    if (c_email.includes('@') && (c_email.includes('.fr') || c_email.includes('.com')))
    {
      var customerdata = {
        "customer": {
          "id": customer_id ,
          "first_name": c_first_name,
          "last_name": c_last_name,
          "email": c_email,
          "phone" : c_phone
        }
      };

      const putMethod = {
        method: 'PUT',
        headers: {
          'Content-type': 'application/json',
          'X-Shopify-Access-Token' : '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'
        },
        body: JSON.stringify(customerdata)
      }

      fetch(target, putMethod)
      .then(response => response.json())
      .then(data => div_Message_Change("green", "Sucessfully Change"))
      .catch(err => div_Message_Change("red", "Error in change"))
    }
    else
    {
      div_Message_Change("red", "Wrong e_mail format");
    }
  }

  function div_Message_Change(color, message)
  {
    var div_message = document.getElementById("div_message");

    div_message.style.display = "block";
    div_message.style.backgroundColor = color;
    div_message.innerHTML = message;
  }
</script>