<!-- /templates/customers/account.liquid -->

<div class="page-width page-container">

    <header class="section-header">
      <h1>{{ 'customer.account.title' | t }}</h1>
    </header>
    
    <h2>{{ 'customer.account.details' | t }}</h2>
    en développement :
    Ici les détails du compte
    <textarea id="t_first_name">{{ customer.first_name }}</textarea>
    <textarea id="t_last_name">{{ customer.last_name }}</textarea>
    <textarea id="t_email">{{ customer.email }}</textarea>
    <textarea id ="t_phone">{{ customer.phone }}</textarea>
    <p>Nombre d'achat : {{ customer.orders_count }}</p>
  
    <h2>{{ 'customer.orders.title' | t }}</h2>
  
    {% comment %}
      If we have past orders, loop through each one
    {% endcomment %}
    {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}
  
        {% comment %}
          Responsive Table for small screens
        {% endcomment %}
        <table class="responsive-table">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr>
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  
      {% else %}
  
        <p>{{ 'customer.orders.none' | t }}</p>
  
      {% endif %}
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
  
    <hr class="hr--clear">
  
    <h2>{{ 'customer.account.details' | t }}</h2>
  
    {{ customer.default_address | format_address }}
  
    <p><a href="{{ routes.account_addresses_url }}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
  
    
  </div>
  
  <script>
    var customer_id = {{ customer.id }};
    var target = "https://5d21e2ddc56b33c485f34c29a4851987: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@gracietboutiquetpetest.myshopify.com/admin/api/2020-04/customers/" + {{ customer.id }} + ".json";
    
    
    function delete_account()
    {
      Shopify.postLink(target, {
        parameters: { _method: 'DELETE' }
      });
    }
  
    function change_account()
    {
      var c_last_name = document.getElementById("t_last_name").value;
      var c_first_name = document.getElementById("t_first_name").value;
      var c_email = document.getElementById("t_email").value;
      var c_phone = document.getElementById("t_phone").value;
      
      console.log("c_last_name = " + c_last_name);
      console.log("c_first_name = " + c_first_name);
       console.log("c_last_name = " + c_email);
      console.log("c_phone = " + c_phone);

        var globals = {}; // application wide global variable

globals.constants = {
}

globals.showToastMessage = function(heading, message, icon) {
    $.toast({
        heading: heading,
        text: message,
        showHideTransition: 'slide',
        icon: icon  // info, error, warning, success
    });
};

globals.makeGraphQLRequest = function(url, params) {
    var self = this;
    $.ajax({
        url: url,
        method: 'PUT',
        data: params,
        dataType: 'json',
        success: function(response) {
            if (response.data) {
                successCallback(response.data);
            } else {
                self.showToastMessage('Error', 'Server side error', 'error');
            }
            console.log("test");
        },
        error: function(xhr, status, error)
        {
            console.log("raté");
        }
    });
}

globals.makeGraphQLRequest(target, {
      query: `mutation customerUpdate($input: CustomerInput!) {
        customerUpdate(input: $input) {
          customer {
            id
          }
          userErrors {
            field
            message
          }
        } 
      }`,
      variables:{
        "input": {
        "id" : "gid://shopify/Customer/" + customer_id,
        "firstName" : c_first_name,
        "lastName" : c_last_name,
        "phone" : c_phone,
        "email" : c_email
        }
      }
    });
  }
</script>

<button onclick="delete_account()">
    supprimer le compte
  </button>
  
  <button onclick="change_account()">
    modifier le compte
  </button>
  
  