<!-- /templates/customers/account.liquid -->

{%comment%} Ici le html des informations sur le compte, comprend les détails du compte et les achats effectués {%endcomment%}
<div class="monCompte">
  <h1>Mon compte</h1>
  <div>

  </div>
  <div>
    <h2>New Address</h2>
    {% form 'customer_address', customer.new_address %}
    
    {{ form.errors | default_errors }}
    
    <label for="first_name">First Name</label>
    <input type="text" value="" name="address[first_name]" size="30" />
    
    <label for="last_name">Last Name</label>
    <input type="text" value="" name="address[last_name]" size="30" />
    
    <label for="company">Company</label>
    <input type="text" value="" name="address[company]" />
    
    <label for="address1">Address 1</label>
    <input type="text" value="" name="address[address1]" />
    
    <label for="address2">Address 2</label>
    <input type="text" value="" name="address[address2]" />
    
    <label for="city">City</label>
    <input type="text" value="" name="address[city]" />
    
    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
    <label for="country">Country</label>
    <select name="address[country]" /></select>
    
    <label for="province">Province</label>
    <select name="address[province]" /></select>
    
    <label for="zip">Zip/Post Code</label>
    <input type="text" value="" name="address[zip]" />
    
    <label for="phone">Phone Number</label>
    <input type="tel" value="" name="address[phone]" />
    
    {% endform %}
  </div>
  <div class="">

  </div>
</div>
{% if customer.default_address %}
  
    <p>{{ customer.customer_address.address1 }}</p>
    <p>{{ customer.customer_address.address2 }}</p>
  
{%endif%}
{% if customer.default_address %}
  <h2>Address</h2>
  <p>{{ customer.default_address.address1 }}</p>
  {% if customer.default_address.address2 != "" %}
    <p>{{ customer.default_address.address2 }}</p>
  {% endif %}
  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
  <p>{{ customer.default_address.zip }}</p>
  <p>{{ customer.default_address.phone }}</p>
{% else %}
  <p>No adresse found</p>
{% endif %}

<div>
  <h2>Achats effectué sur le compte</h2>
</div>
<div id="customer_orders">
  <h2>Orders</h2>
  {% paginate customer.orders by 10 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
      <!-- order details here -->
    {% endfor %}
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
  {{ paginate | default_pagination }}
  {% endpaginate %}
</div>
