{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionSpeciale">
    <div class="collectionSpeciale-img">
        <img alt="{{ section.settings.collectionTitle }}" src="{{ section.settings.collectionImg | img_url: "300x300"}}">
    </div>
    <div class="collectionSpeciale-contenu">
        <h2 class="collectionSpeciale-contenu-h2">{{ section.settings.collectionTitle }}</h2>
        <p class="collectionSpeciale-contenu-p">{{ section.settings.collectionDesc }}</p>
        <span class="collectionSpeciale-div-a"><a class="collectionSpeciale-a" href="{{ section.settings.collectionUrl }}">En savoir plus</a></span>
    </div>
</div>


{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection Speciale",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            },
            {
                "id":"collectionDesc",
                "type":"text",
                "label":"Description de la Collection",
                "default":"Description de ma collection"
            }
        ],
        "presets":[
            {
                "name":"Collection Speciale",
                "category":"Collection"
            }
        ]
    }
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionSpeciale{
        margin-top:25px;
        margin-bottom:25px;
        display:grid;
        grid-gap:10px;
        grid-template-columns:repeat(4,1fr);
        margin-top:25px;
        margin-bottom:25px;
    }
    .collectionSpeciale-img{
        grid-column:2;
        text-align:end;
    }
    .collectionSpeciale-contenu{
        display:grid;
        grid-column:3;
        grid-gap:10px;
        text-align:start;
    }
    .collectionSpeciale-contenu-h2{
        grid-row:1;
        text-align:center;
    }
    .collectionSpeciale-contenu-p{
        grid-row:2;
    }
    .collectionSpeciale-div-a{
        grid-row:3;
        display:grid;
        grid-template-columns:repeat(4,1fr);
    }
    .collectionSpeciale-a{
        grid-column:4;
        background-color:white;
        border:solid;
        text-align:center;
        text-decoration:none;
        color:black;
        width:max-content;
        margin:auto;
    }
    .collectionSpeciale-a:hover{
        background-color:black;
        border:none;
        color:white;
    }
{% endstyle %}