{% comment %} Ici l'attribution des valeur du schéma {% endcomment %}
{% assign h2_font_size = section.settings.tailleTitre1 | append:'px' %}
{% assign h2_color = section.settings.couleurTitre1 %}
{% assign h3_font_size = section.settings.tailleTitre2 | append:'px' %}
{% assign h3_color = section.settings.couleurTitre2 %}

{% comment %} Position du texte {% endcomment %}
{% if section.settings.RightLeft == true %} {%comment%} Alors a droite{%endcomment%}
    {% assign positionContenu = 1 %}
{% else %} {%comment%} sinon a gauche {%endcomment%}
    {% assign positionContenu = 2 %}
{% endif %}

{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionVedette">
    <div class="collectionVedette-contenu">
        <h3 class="collectionVedette-h3">COLLECTION</h3>
        <h2 class="collectionVedette-h2">{{ section.settings.collectionTitle }}</h2>
        <a class="collectionVedette-a" href="{{ section.settings.collectionUrl }}">Decouvrir</a>
    </div>
</div>

{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection en Vedette",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            },
            {
                "type": "color",
                "id": "couleurTitre1",
                "label": "Couleur titre 1",
                "default": "#222222"
            },
            {
                "type": "color",
                "id": "couleurTitre2",
                "label": "Couleur titre 2",
                "default": "#222222"
            },
            {
                "type": "text",
                "id": "tailleTitre1",
                "label": "taille du titre 1",
                "default": "11"
            },
            {
                "type": "text",
                "id": "tailleTitre2",
                "label": "taille du titre 2",
                "default": "11"
            },
            {
                "type": "checkbox",
                "id": "RightLeft",
                "default": true,
                "label": "Position du texte"
            }
        ],
        "presets":[
            {
                "name":"Collection en Vedette",
                "category":"Collection"
            }
        ]
    }
{% endschema %}

{% assign h2_font_size = section.settings.tailleTitre | append:'px' %}

{% assign h2_color = section.settings.couleurTitle %}
positionContenu
{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionVedette{
        margin-top:25px;
        margin-bottom:25px;

        background-image: url('{{ section.settings.collectionImg | img_url:'5760x5760' }}');

        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .collectionVedette-contenu{
        display:grid;
        width:80%;
        grid-column: {{ positionContenu }};
    }
    .collectionVedette-h2{
        font-size: {{ h2_font_size }};
        color: {{ h2_color }};
        font-weight:900;
        width:max-content;
    }
    .collectionVedette-h3{
        font-size: {{ h3_font_size }};
        color: {{ h3_color }};
        font-weight:700;
        width:max-content;
    }
    .collectionVedette-a{
        background:none;
        text-decoration:none;
        color:white;
        margin:auto;
        border:groove;
    }
    .collectionVedette-a:hover{
        color:white;
        background-color:black;
        border:none;
    }
{% endstyle %}