{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionVedetteFirst">
    <div style="background-image: url('{{ section.settings.collectionImg | img_url:'5760x5760' }}');" class="collectionVedette">
        <div class="collectionVedette-contenu">
            <h2 style="color: {{section.settings.color_borders}}" class="collectionVedette-h2">COLLECTION</h2>
            <h1 style="color: {{section.settings.color_borders}}" class="collectionVedette-h1">{{ section.settings.collectionTitle }}</h1>
            <a class="collectionVedette-a" href="{{ section.settings.collectionUrl }}"><span class="collectionVedette-span-a">Decouvrir</span></a>
        </div>
    </div>
</div>

{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection en Vedette",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            },
            {
                "type": "color",
                "id": "color_borders",
                "label": "Title colors",
                "default": "#d35400"
            }
        ],
        "presets":[
            {
                "name":"Collection en Vedette",
                "category":"Collection"
            }
        ]
    }
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionVedetteFirst{
        height:500px;
        margin-top:5%;
        margin-bottom:5%;
    }
    .collectionVedette{
        position:sticky;
        height:inherit; 
        background-position:center;
        background-attachment: scroll, local;
        background-repeat:no-repeat;
        grid-template-columns:repeat(7,1fr);
        grid-template-rows:repeat(7,1fr);
        display:grid;
        box-sizing:border-box;
    }
    .collectionVedette-contenu{
        display:grid;
        grid-column:3;
        grid-row:3/5;
    }
    .collectionVedette-h1{
        font-size:xx-large;
        grid-row:4;
        font-weight:900;
        width:max-content;
    }
    .collectionVedette-h2{
        font-size:x-large;
        grid-row:3;
        font-weight:700;
        width:max-content;
    }
    .collectionVedette-span-a{
        grid-row:5;
        display:grid;
        justify-content:center;
    }
    .collectionVedette-a{
        background:none;
        text-decoration:none;
        color:white;
        border: 2px solid white;
    }
{% endstyle %}