{%comment%} Ici on assigne les val du schéma {%endcomment%}
{% assign h1_font = section.settings.fontTitre | font_face %}
{% assign h1_font_size = section.settings.tailleTitre | append:'px' %}
{% assign h1_text_align = section.settings.titre_alignment %}
{% assign h1_color = section.settings.couleurTitle%}
{% assign bg_color = section.settings.couleurFond %}

{%comment%} Ici le html{%endcomment%}
<div class="entretienTitle-myTitle">
    <h1 class="entretienTitle-myTitle-h1">{{ section.settings.title }}</h1>
</div>

{%comment%} Ici le schéma du titre avec couleur, style, background-color etc {%endcomment%}
{% schema %}
{
    "name":"Entretien Titre 1",
    "settings":[
    {
      "id":"title",
      "type":"text",
      "label":"Titre",
      "default":"Mon titre"
    },
    {
      "type": "color",
      "id": "couleurTitle",
      "label": "Couleur du titre",
      "default": "#d35400"
    },
    {
      "type": "text",
      "id": "tailleTitre",
      "label": "taille du titre",
      "default": "75"
    },
    {
      "type": "font_picker",
      "label": "style de texte",
      "id": "fontTitre",
      "default": "claire_news_n3"
    },
    {
      "type": "color",
      "id": "couleurFond",
      "label": "Couleur du fond",
      "default": "#ffffff"
    },
    {
      "type": "radio",
      "id": "titre_alignment",
      "options": [
        { "value": "Left", "label": "Gauche"},
        { "value": "Center", "label": "Milieu"},
        { "value": "Right", "label": "Droite"}
      ],
      "label": "Alignement du titre"
    }
  ],
  "presets":[
    {
      "category":"Presentation",
      "name": "Titre"
    }
  ]
}
{% endschema %}

{%comment%} Ici le style css{%endcomment%}
{% style %}
    .myTitle{
        margin-bottom:25px;
        margin-top:25px;
        background-color : {{ bg_color }};
    }

    .myTitle-h1{
        color: {{ h1_color }}
        font-style: {{ h1_font.style }};
        font-weight: {{ h1_font.weight }};
        font-family: {{ h1_font.family }};
        font-size: {{ h1_font_size }};
        text-align: {{ h1_text_align }};
    }
{% endstyle %}
