{%comment%} Ici la prise en compte du schema {%endcomment%}
{% assign h1_font = section.settings.fontTitre | font_face %}
{% assign h1_font_size = section.settings.tailleTitre | append:'px' %}
{% assign h1_text_align = section.settings.titre_alignment %}
{% assign h1_color = section.settings.couleurTitle%}
{% assign h2_font = section.settings.fontTitre | font_face %}
{% assign h2_font_size = section.settings.tailleTitre | append:'px' %}
{% assign h2_text_align = section.settings.titre_alignment %}
{% assign h2_color = section.settings.couleurTitle%}
{% assign bg_color = section.settings.couleurFond %}

{%comment%} Ici le html{%endcomment%}
<div class="entretien">
    <div class="entretien-titre">
        <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="entretien-soustitre">
        <h2>{{ section.settings.subtitle }}</h2>
    </div>
    {%for block in section.blocks %}
        
    {% endfor %}
</div>

{%comment%} 
<p style="text-align: {{ block.settings.texte_alignment }}; color: {{ block.settings.text }}; font-size: {{ block.settings.tailletexte | 'px' }};"> {{ block.settings.text }} </p>
Ici le schéma du titre avec couleur, style, background-color etc {%endcomment%}
{% schema %}
{
    "name":"Entretien Warning",
    "settings":[
        {
            "type": "color",
            "id": "couleurFond",
            "label": "Couleur du fond",
            "default": "#ffffff"
        },
        {
            "id":"title",
            "type":"text",
            "label":"Titre",
            "default":"Mon titre"
        },
        {
            "type": "color",
            "id": "couleurTitle",
            "label": "Couleur du titre",
            "default": "#222222"
        },
        {
            "type": "text",
            "id": "tailleTitre",
            "label": "taille du titre",
            "default": "75"
        },
        {
            "type": "font_picker",
            "label": "style du titre",
            "id": "fontTitre",
            "default": "claire_news_n3"
        },
        {
            "type": "radio",
            "id": "titre_alignment",
            "options": [
                { "value": "Left", "label": "Gauche"},
                { "value": "Center", "label": "Milieu"},
                { "value": "Right", "label": "Droite"}
            ],
            "label": "Alignement du titre"
        }
        {
            "id":"subtitle",
            "type":"text",
            "label":"Sous-Titre",
            "default":"Mon sou-titre"
        },
        {
            "type": "color",
            "id": "couleursubTitle",
            "label": "Couleur du sous-titre",
            "default": "#222222"
        },
        {
            "type": "text",
            "id": "taillesubTitre",
            "label": "taille du sous-titre",
            "default": "75"
        },
        {
            "type": "font_picker",
            "label": "style du sous-titre",
            "id": "fontsubTitre",
            "default": "claire_news_n3"
        },
        {
            "type": "radio",
            "id": "subtitle_alignment",
            "options": [
            { "value": "Left", "label": "Gauche"},
            { "value": "Center", "label": "Milieu"},
            { "value": "Right", "label": "Droite"}
            ],
            "label": "Alignement du sous-titre"
        }
    ],
    "max_blocks":20,
    "blocks":[
    {
        "type":"warning",
        "name":"warning",
        "settings":[
            {
                "id":"text",
                "type":"text",
                "label":"text",
                "default":"Mon texte"
            },
            {
                "type": "color",
                "id": "couleurtexte",
                "label": "Couleur du texte",
                "default": "#d35400"
            },
            {
                "type": "text",
                "id": "tailletexte",
                "label": "taille du texte",
                "default": "75"
            },
            {
                "type": "radio",
                "id": "texte_alignment",
                "options": [
                    { "value": "Left", "label": "Gauche"},
                    { "value": "Center", "label": "Milieu"},
                    { "value": "Right", "label": "Droite"}
                ],
                "label": "Alignement du texte"
            }
        ]
    }
  ]
}
{% endschema %}

{%comment%} Ici le style css{%endcomment%}
{% style %}
    .entretien{
        margin-bottom:25px;
        margin-top:25px;
        border-style:groove;
        border-color: {{ bg_color }};
    }

    .entretien-titre{
        color: {{ h1_color }}
        font-style: {{ h1_font.style }};
        font-weight: {{ h1_font.weight }};
        font-family: {{ h1_font.family }};
        font-size: {{ h1_font_size }};
        text-align: {{ h1_text_align }};
    }

    .entretien-soustitre{
        color: {{ h2_color }}
        font-style: {{ h2_font.style }};
        font-weight: {{ h2_font.weight }};
        font-family: {{ h2_font.family }};
        font-size: {{ h2_font_size }};
        text-align: {{ h2_text_align }};
    }

    .entretienWarning{
        border-style:groove;
    }
{% endstyle %}
