{% comment %}L'ensemble du code du HEADER {% endcomment %}
<header class="header">
	{% comment %}Le logo du site qui redirige vers l'accueil{% endcomment %}
	<div class="header-logo">
		<a class="aRef" href="https://gracietboutiquetpe.myshopify.com/"><img alt="{{ shop.title }}" src="{{ section.settings.logo | img_url: "300x300" }}" alt="{{ shop.name }}"></a>
	</div>

	{% comment %} Ici la barre de navigation qui affichera les bouttons vers les autres pages {% endcomment %}
	<nav class="header-navbar">
		<button class="navbar-toggler" onclick=openMenuNav();><i class="fas fa-bars"></i></button>
		<ul class="navbar">
			{% for link in linklists.main-menu.links %}
				<li class="navbar-item"><a class="aRef" href="{{ link.url }}">{{ link.title }}</a></li>	
			{% endfor %}
		</ul>
	</nav>

	{% comment %} Ici la classe qui gere les bouttons panier, search et connexion {% endcomment %}
	<div class="header-icons">
		{% comment %} boutton qui va afficher une bar de navigation {% endcomment %}
		<button onclick=openSearch(); class="header-icons-search">
			<i class="fas fa-search"></i>
		</button>

		
		{% comment %} boutton qui va afficher une liste avec les objets du paniers et si clique envoie sur le panier {% endcomment %}
		<button id="header-icons-cart" class="header-icons-cart">
			<a class="aRef" href="https://gracietboutiquetpe.myshopify.com/cart"><i class="fas fa-shopping-basket"></i></a>
		</button>

		{% comment %} Si connexion acrtiver dans les parametres {% endcomment %}
		{% if shop.customer_accounts_enabled %}
			{% comment %} boutton qui affiche se connecter ou se déconnecter {% endcomment %}
			<button class="header-icons-Ref" onclick=openUser();>
				<i class="fas fa-user"></i>
			</button>
			<ul class="user">
				{% comment %} Si utilisateur connecté {% endcomment %}
				{% if customer  %} 
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account">Mon compte</a></li>
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/logout">Deconnexion</a></li>
				{% else %}
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/login">Connexion</a></li>
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/register">Inscription</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>

	{%comment%} On doit crée un nouveau menu pour la taille du portable = small {% endcomment%}
	<div class="menu-smallScreen">
		<button class="smallScreen-toggler" onclick=openMenuNavSmallScreen();>
			<i class="fas fa-bars"></i>
		</button>
		<ul class="smallScreen">
			{% for link in linklists.main-menu.links %}
				<li class="smallScreen-item"><a class="aRef" href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}

			{% if shop.customer_accounts_enabled %}
				{% if customer %}
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account">Mon compte</a></li>
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/logout">Deconnexion</a> </li>
				{% else %}
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/login">Connexion</a></li>
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/register">Inscription</a></li>
				{% endif %}
			{% endif %}
			<li class="smallScreen-item"><button class="header-icons-search"><i class="fas fa-search"></i></button></li>
			<li class="smallScreen-item"><a  class="aRef" href="https://gracietboutiquetpe.myshopify.com/cart"><button class="header-icons-cart"><i class="fas fa-shopping-basket"></i></button></a></li>
		</ul>
	</div>

	{%comment%} Ici affiche {% endcomment%}
	<div id="showCart" class="showCart">
		{% if cart.item_count == 0 %}
			<div class="noItemInCart">
				<p>Votre panier est vide</p>
			</div>
		{% else %}
			<div class="ItemInCart">
				<ul>
					{% for item in cart.items %}
						<img class="ItemImg"></img>
						<div class="ItemText">
								<div class="ItemText-h3"><h3>{{ item.title }}</h3></div>
								<div class="ItemText-desc"><p>{{ item.description }}</p></div>
								<div class="ItemText-prix"><p>{{ item.price }}</p></div>
						</div>
						<button onclick=deleteItemFromCart(); class="ItemDelete"><li class="fas fa-times"></li></button>
					{% endfor %}
				</ul>
			</div>
			<div class="goPanierItems">
				<h2 class="goPanierItems-h2Tot">TOTAL</h2>
				<h2 class="goPanierItems-h2Prix">{{ cart.total_price }}</h2>
				<button class="goPanierItems-goPanier"><a href="https://gracietboutiquetpe.myshopify.com/cart">VOIR VOTRE PANIER</a></button>
				<button class="goPanierItems-goFin"><a href="paiement">FINALISER VOTRE COMMANDE</a></button>
			</div>
		{% endif %}
	</div>

	{%comment%} Ici on gère le recherche sur le site un form search {% endcomment%}
	<div id="searchbox" class="searchbox-content">
		<div class="searchbox-search">
			<form action="/search" class="search-bar" role="search">
				<input type="text" class="search-input" value="{{ search.terms | espace }}">
				<button class="searchbox-Btn"><i class="far fa-hand-point-right"></i></button>	
			</form>
			<button onclick=openSearch(); class="btn-close"><li class="fas fa-times"></li></button>
		</div>
	</div>
</header>
</br></br></br>

{% schema %}
{
	"name":"header",
	"class":"section-header",
	"settings": [
		{
			"type":"image_picker",
			"id":"logo",
			"label":"logo"
		}
	]
}
{% endschema %}

<script>
	let myCart = document.getElementById("header-icons-cart");
	let showC = document.getElementById("showCart");
	
	myCart.addEventListener("mouseover", showC.style.display = "grid");

	myCart.addEventListener("mouseout", showC.style.display = "none");
</script>