{% comment %}L'ensemble du code du HEADER {% endcomment %}
<header class="header">
	{% comment %}Le logo du site qui redirige vers l'accueil{% endcomment %}
	<div class="header-logo">
		<a class="aRef" href="https://gracietboutiquetpe.myshopify.com/"><img alt="{{ shop.title }}" src="{{ section.settings.logo | img_url: "300x300" }}" alt="{{ shop.name }}"></a>
	</div>

	{% comment %} Ici la barre de navigation qui affichera les bouttons vers les autres pages {% endcomment %}
	<nav class="header-navbar">
		<button class="navbar-toggler" onclick=openMenuNav();><i class="fas fa-bars"></i></button>
		<ul class="navbar">
			{% for link in linklists.main-menu.links %}
				<li class="navbar-item"><a class="aRef" href="{{ link.url }}">{{ link.title }}</a></li>	
			{% endfor %}
		</ul>
	</nav>

	{% comment %} Ici la classe qui gere les bouttons panier, search et connexion {% endcomment %}
	<div class="header-icons">
		{% comment %} boutton qui va afficher une bar de navigation {% endcomment %}
		<button onclick=openSearch(); class="header-icons-search">
			<i class="fas fa-search"></i>
		</button>

		
		{% comment %} boutton qui va afficher une liste avec les objets du paniers et si clique envoie sur le panier {% endcomment %}
		<button class="header-icons-cart">
			<a class="aRef" onmouseover=showCart(); href="https://gracietboutiquetpe.myshopify.com/cart"><i class="fas fa-shopping-basket"></i></a>
		</button>

		{% comment %} Si connexion acrtiver dans les parametres {% endcomment %}
		{% if shop.customer_accounts_enabled %}
			{% comment %} boutton qui affiche se connecter ou se déconnecter {% endcomment %}
			<button class="header-icons-Ref" onclick=openUser();>
				<i class="fas fa-user"></i>
			</button>
			<ul class="user">
				{% comment %} Si utilisateur connecté {% endcomment %}
				{% if customer  %} 
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account">Mon compte</a></li>
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/logout">Deconnexion</a></li>
				{% else %}
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/login">Connexion</a></li>
					<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/register">Inscription</a></li>
				{% endif %}
			</ul>
		{% endif %}
	</div>

	{%comment%} On doit crée un nouveau menu pour la taille du portable = small {% endcomment%}
	<div class="menu-smallScreen">
		<button class="smallScreen-toggler" onclick=openMenuNavSmallScreen();>
			<i class="fas fa-bars"></i>
		</button>
		<ul class="smallScreen">
			{% for link in linklists.main-menu.links %}
				<li class="smallScreen-item"><a class="aRef" href="{{ link.url }}">{{ link.title }}</a></li>
			{% endfor %}

			{% if shop.customer_accounts_enabled %}
				{% if customer %}
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account">Mon compte</a></li>
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/logout">Deconnexion</a> </li>
				{% else %}
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/login">Connexion</a></li>
					<li class="smallScreen-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/account/register">Inscription</a></li>
				{% endif %}
			{% endif %}
			<li class="smallScreen-item"><button class="header-icons-search"><i class="fas fa-search"></i></button></li>
			<li class="smallScreen-item"><a  class="aRef" onmouseover=showCart(); href="https://gracietboutiquetpe.myshopify.com/cart"><button class="header-icons-cart"><i class="fas fa-shopping-basket"></i></button></a></li>
		</ul>
	</div>

	{%comment%} Ici affiche {% endcomment%}
	<div id="showCart" class="showCart">
		{% if cart.item_count == 0 %}
			<div class="noItemInCart">
				<p>Votre panier est vide</p>
			</div>
		{% else %}
			<div class="ItemInCart">
				<ul>
					{% for item in cart.items %}
						<img class="ItemImg"></img>
						<div class="ItemText">
								<div class="ItemText-h3"><h3>{{ item.title }}</h3></div>
								<div class="ItemText-desc"><p>{{ item.description }}</p></div>
								<div class="ItemText-prix"><p>{{ item.price }}</p></div>
						</div>
						<button onclick=deleteItemFromCart(); class="ItemDelete"><li class="fas fa-times"></li></button>
					{% endfor %}
				</ul>
			</div>
			<div class="goPanierItems">
				<h2 class="goPanierItems-h2Tot">TOTAL</h2>
				<h2 class="goPanierItems-h2Prix">{{ cart.total_price }}</h2>
				<button class="goPanierItems-goPanier"><a href="https://gracietboutiquetpe.myshopify.com/cart">VOIR VOTRE PANIER</a></button>
				<button class="goPanierItems-goFin"><a href="paiement">FINALISER VOTRE COMMANDE</a></button>
			</div>
		{% endif %}
	</div>

	{%comment%} Ici on gère le recherche sur le site un form search {% endcomment%}
	<div id="searchbox" class="searchbox-content">
		<div class="searchbox-search">
			<form action="/search" class="search-bar" role="search">
				<input type="text" class="search-input" value="{{ search.terms | espace }}">
				<button class="searchbox-Btn"><i class="far fa-hand-point-right"></i></button>	
			</form>
			<button onclick=openSearch(); class="btn-close"><li class="fas fa-times"></li></button>
		</div>
	</div>
</header>
</br></br></br>

{% schema %}
{
	"name":"header",
	"class":"section-header",
	"settings": [
		{
			"type":"image_picker",
			"id":"logo",
			"label":"logo"
		}
	]
}
{% endschema %}

{% style %}
/*CSS du HEADER*/
.header {
	font-size: $font-size;
	background: #EEE;
	position: sticky;
	top: 0;
	align-items: center;
	display: flex;
}

.header-logo {
	padding-left: 10px;
}

.header-icons-Ref {
	background: none;
	border: none;
	cursor: pointer;
}

.header-icons-search {
	background: none;
	border: none;
	cursor: pointer;
}

.header-icons-cart {
	background: none;
	border: none;
	cursor: pointer;
}

/* Css du panier*/
.showCart{
	display:block;
}

.noItemInCart{
	display:grid;
}

.ItemInCart{
	display:grid;
	grid-template-columns;:repeat(7,1fr);
}

.ItemImg{
	grid-column:1/2;
}

.ItemText{
	grid-template-rows;:repeat(3,1fr);
	display:grid;
	grid-column:3/6;
}

.ItemDelete{
	grid-column:7;
}

.ItemText-h3{
	grid-row:1;
}

.ItemText-desc{
	grid-row:2;
}

.ItemText-prix{
	grid-row:3;
}

.goPanierItems{
	display:grid;
	grd-template-rows:repeat(3,1fr);
	grd-template-columns:repeat(2,1fr);
	font-size: 12px;
	font-weight: bold;
	text-shadow: none;
	letter-spacing: 1px;
}

.goPanierItems-h2Tot{
	grid-column:1;
	grid-row:1;
}

.goPanierItems-h2Prix{
	grid-column:2;
	grid-row:1;
}

.goPanierItems-goPanier{
	border:solid;
	border-color:black;
	border-width:thick;
	background-color:none;
	grid-column:1/2;
	grid-row:2;
}

.goPanierItems-goFin{
	background-color:black;
	color:white;
	grid-column:1/2;
	grid-row:3;
}

/*Css du cart si smallscreen ?? */

/* Css de la searchBow */
.searchbox-content {
	display: none;
	position: absolute;
	justify-content: flex-end;
	width: 100%;
	left: 0;
	top: 100%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.searchbox-search {
	display: flex;
	border: none;
	width: 100%;
}

.search-bar {
	background: none;
	border: none;
	width: 98%;
}

.search-input {
	border: none;
	width: 96%;
}

.btn-close {
	display: flex;
	justify-content: flex-end;
	background: none;
	border: none;
	font-size: 25px;
	width: 1%;
}

.searchbox-Btn {
	border: none;
	background: none;
	font-size: 20px;
	width: 2%;
}

.searchbox-content.show {
	display: flex;
}

.user {
	width: 0;
	left: -999px;
	transition: left 0.1s;
	display: block;
	position: absolute;
	top: 100%;
}

.user-item {
	display: block;
	padding: 10px
	.user.open {
	width: 100%;
	left: 0;
	justify-content: end;
	background: #EEE;
	display: grid;
}

.menu-smallScreen {
	display: none;
}

@media screen and (max-width:900px) {
	.header-logo {
		display: flex;
		flex: 1;
		justify-content: flex-start;
	}

	.header-navbar {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}

	.navbar-toggler {
		cursor: pointer;
		justify-content: flex-end;
		background: none;
		border: none;
	}

	.navbar {
		width: 0;
		left: -999px;
		display: block;
		transition: left 0.7s;
		position: absolute;
		top: 100%;
	}

	.navbar-item {
		display: inline-block;
		padding: 10px;
	}

	/*Fonction qand on clique sur la navbar*/
	.navbar.open {
		width: 100%;
		left: 0;
		background: #EEE;
	}

	.header-icons {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		padding: 10px
	}
}

/*Si taille de l'écran moyen*/
@media screen and (min-width:900px) {
	.header-navbar {
		display: flex;
		justify-content: flex-end;
		flex: 1;
	}

	.navbar-toggler {
		display: none;
		justify-content: flex-end;
	}

	.navbar {
		position: relative;
		left: 0;
		transition: none;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.navbar-item {
		display: inline-flex;
		padding: 10px;
	}

	.menu-smallScreen {
	display: none;
	}
}

/*Un seul boutton menu regroupant, (connexion, crée compte) ou (déconnexion, mon
compte)
Et Accueil, accessoires, collections, /Sylvie Strohl, Blog
*/
@media screen and (max-width:576px) {
	.header-icons {
		display: none;
	}

	.header-navbar {
		display: none;
	}

	.menu-smallScreen {
		display: flex;
		padding: 10px;
	}

	.smallScreen {
		width: 0;
		left: -999px;
		transition: left 0.1s;
		display: block;
		position: absolute;
		top: 100%;
	}

	.smallScreen-item {
		display: block;
		padding: 10px;
		justify-content: flex-end;
	}

	.smallScreen.open {
		width: 100%;
		left: 0;
		justify-content: flex-end;
		background: #EEE;
	}
}

{% endstyle %}