{%comment%} Le html  de notre bloc {%endcomment%}
<div class="iconsList" style="background-color: {{ section.settings.couleurFond }};">
  {%for block in section.blocks %}
    <div class="icons">
      <img class="icons-img" alt="{{ block.settings.title }}" src="{{ block.settings.icons | img_url: '300x300' }}">
      <h2 class="icons-h2" style="font-size:{{ block.settings.titleSize | append:'px' }}">{{ block.settings.title }}</h2>
    </div>
  {%endfor%}
</div>

{%comment%} Le schema de notre sections sui comprend
Un blocs qui a de plusieurs settings composé d'icones et de title {%endcomment%}
{% schema %}
{
  "name":"iconsListHorizontal",
  "max_blocks":4,
  "blocks":[
  {
    "type":"Icons",
    "name":"oneIcons",
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Titre",
        "default":"Mon titre"
      },
      {
        "type":"image_picker",
        "id":"icons",
        "label":"L'icone"
      },
      {
        "type":"text",
        "id":"titleSize",
        "label":"Taille du titre",
        "default":"11"
      },
      {
      "type": "color",
      "id": "couleurFond",
      "label": "Couleur du fond",
      "default": "#ffffff"
      }
    ]
  }],
  "presets":[
  {
    "category":"Autre",
    "name":"Icone et titre"
  }]
}
{% endschema %}

{%comment%} Le style de notre bloc {%endcomment%}
{% style %}
  .iconsList{
    margin-top:25px;
    margin-bottom:25px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(1,1fr);
  }
  .icons{
    display:grid;
    justify-content:center;
    text-align:center;
    grid-template-columns:repeat(3,1fr);
  }
  .icons-img{
    grid-row:1;
    grid-column:2;
  }
  .icons-h2{
    width:max-content;
    grid-row:2;
    grid-column:2;
    margin:auto;
  }

  @media screen and (max-width:1060px) {
    .iconsList{
      grid-template-columns:repeat(2,1fr);
      grid-template-rows:repeat(2,1fr);
    }
  }

  @media screen and (max-width:600px) {
    .iconsList{
      grid-template-columns:repeat(1,1fr);
      grid-template-rows:repeat(4,1fr);
    }
  }
{% endstyle %}