{%comment%} Ici la prise en compte du schema {%endcomment%}
{% assign h1_font = section.settings.fontTitre | font_face %}
{% assign h1_font_size = section.settings.tailleTitre | append:'px' %}
{% assign h1_text_align = section.settings.titre_alignment %}
{% assign h1_color = section.settings.couleurTitle%}
{% assign bg_color = section.settings.couleurFond %}

{%comment%} Ici le html d'affichage d'un texte et d'une image {%endcomment%}
<div id="{{ section.settings.title }}" style="background-color: {{ section.settings.couleurFond }};" class="imageTexte">
  {% if section.settings.rightLeft == true %}
    {% assign numColImg = 3 %} {% assign numColTexte = 2 %}
  {% else %}
    {% assign numColImg = 2 %} {% assign numColTexte = 3 %}
  {% endif %}
  <div style="grid-column: {{ numColImg }};" class="imageTexte-img">
    <img class="imageTexte-Image" alt="{{ section.settings.title }}" src= {{ section.settings.image | img_url:"555x"}}>
  </div>
  <div style="grid-column: {{ numColTexte }};" class="imageTexte-texte">
    <h1 class="imageTexte-1-h1">
      {{section.settings.title }}
    </h1>
    {% for block in section.blocks %}
      {% if block.type == 'composeSubTitle' %}
        {% assign h2_font = block.settings.fontSousTitre | font_face %}
        {% assign h2_font_size = block.settings.tailleSubTitre | append:'px' %}
        {% assign h2_text_align = block.settings.subtitre_alignment %}
        {% assign h2_color = block.settings.couleurSubTitle%}
        <h2 style="text-align: {{ h2_text_align }}; color:{{ h2_color }}; font: {{ h2_font }}; font-size:{{ h2_font_size }};"> 
          {{ block.settings.subTitle }} 
          {{ 'block.settings.fontSousTitre' }}
          {{ block.settings.fontSousTitre }}
        </h2>
      {% else %}
        {% assign div_font = block.settings.fontTexte | font_face %}
        {% assign div_font_size = block.settings.tailleTexte | append:'px' %}
        {% assign div_text_align = block.settings.text_alignment %}
        {% assign div_color = block.settings.couleurTexte %}
        <div style="text-align: {{ div_text_align }}; font-family: {{ div_font.family }}; font-style: {{ div_font.style }}; font-weight: {{ div_font.weight }} color:{{ div_color }}; font-size:{{ div_font_size }};" >
          {{ block.settings.text }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


{%comment%} Ici le schema d'un texte et d'une image
Elle a une image un titre, avec choix taille et couleur et checkbox pour selectionner a droite ou a gauche
Puis si l'utilisateur le veux, rajoute sous-titres avec taille et couleur
richtext avec choix couleurs et tailles textes {%endcomment%}
{% schema %}
{
  "name":"imageTexte",
  "settings":[
    {
      "id":"title",
      "type":"text",
      "label":"Titre",
      "default":"Mon titre"
    },
    {
      "type": "color",
      "id": "couleurTitle",
      "label": "Couleur du titre",
      "default": "#d35400"
    },
    {
      "type": "text",
      "id": "tailleTitre",
      "label": "taille du titre",
      "default": "75"
    },
    {
      "type": "font_picker",
      "label": "style de texte",
      "id": "fontTitre",
      "default": "claire_news_n3"
    },
    {
      "id":"image",
      "type":"image_picker",
      "label":"Mon image"
    },
    {
      "id":"rightLeft",
      "type":"checkbox",
      "label":"Image a droite ?",
      "default" : false
    },
    {
      "type": "color",
      "id": "couleurFond",
      "label": "Couleur du fond",
      "default": "#ffffff"
    },
    {
      "type": "radio",
      "id": "titre_alignment",
      "options": [
        { "value": "Left", "label": "Gauche"},
        { "value": "Center", "label": "Milieu"},
        { "value": "Right", "label": "Droite"}
      ],
      "label": "Alignement du titre"
    }
  ],
  "max_blocks":8,
  "blocks":[
    {
      "type":"composeSubTitle",
      "name":"composeSubTitle",
      "settings":[
          {
            "id":"subTitle",
            "type":"text",
            "label":"Sous-titre",
            "default":"Mon sous titre"
          },
          {
            "type": "color",
            "id": "couleurSubTitle",
            "label": "Couleur du sous titre",
            "default": "#d35400"
          },
          {
            "type": "text",
            "id": "tailleSubTitre",
            "label": "taille du sous titre",
            "default": "75"
          },
          {
            "type": "font_picker",
            "label": "style de texte",
            "id": "fontSousTitre",
            "default": "claire_news_n3"
          },
          {
            "type": "radio",
            "id": "subtitre_alignment",
            "options": [
              { "value": "Left", "label": "Gauche"},
              { "value": "Center", "label": "Milieu"},
              { "value": "Right", "label": "Droite"}
            ],
            "label": "Alignement du sous-titre"
          }
      ]
    },
    {
      "type":"composeTexte",
      "name":"composeTexte",
      "settings":[
        {
          "id":"text",
          "type":"richtext",
          "label":"Texte",
          "default":"<p>Mon texte</p>"
        },
        {
          "type": "color",
          "id": "couleurTexte",
          "label": "Couleur du texte",
          "default": "#d35400"
        },
        {
          "type": "text",
          "id": "tailleTexte",
          "label": "taille du texte",
          "default": "75"
        },
        {
          "type": "font_picker",
          "label": "style de texte",
          "id": "fontTexte",
          "default": "claire_news_n3"
        },
        {
          "type": "radio",
          "id": "text_alignment",
          "options": [
            { "value": "Left", "label": "Gauche"},
            { "value": "Center", "label": "Milieu"},
            { "value": "Right", "label": "Droite"}
          ],
          "label": "Alignement du texte"
        }
      ]
    }
  ],
  "presets":[
    {
      "category":"Presentation",
      "name": "Image et texte"
    }
  ]
}
{% endschema %}


{%comment%} Ici le style css d'image et texte {%endcomment%}
{% style %}
  .imageTexte{
    margin-top:25px;
    margin-bottom:25px;
    display:grid;
    justify-content:center;
    grid-gap:1%;
    grid-template-columns: repeat(4,1fr);
  }
  .imageTexte-1-h1{
    font-style: {{ h1_font.style }};
    font-weight: {{ h1_font.weight }};
    font-family: {{ h1_font.family }};
    font-size: {{ h1_font_size }};
    text-align: {{ h1_text_align }};
    color: {{ h1_color }};
    width: max-content;
  }
  .imageTexte-img{
    height:auto;
    grid-row:1;
  }
  .imageTexte-texte{
    display:grid;
    grid-row:1;
    text-align:center;
  }
{% endstyle %}