{%comment%} Ici le html d'affichage d'une image de fond avec du texte ou titre {%endcomment%}
<div alt="{{ section.settings.title }}" style="background-image: url('{{ section.settings.image | img_url:'5760x5760' }}');" class="imageFond">
  <div style="grid-template-columns: repeat( {{ section.settings.nbColonne }} ,1fr); grid-template-rows: repeat({{ section.settings.nbLigne }},1fr);" class="TitreEtTexte"> {%comment%} Notre grid {%endcomment%}
    {% for block in section.blocks %}
      {% if block.type == 'composeTitle' %} {%comment%} Si titre {%endcomment%}
        <div style="grid-row: {{ block.settings.positionLigneTitre }}; grid-column: {{ block.settings.positionColonneTitre }}; font-size: {{ block.settings.tailleTitre | append: 'px' }}; font-style: {{ block.settings.fontTitre }} color: {{ block.settings.couleurTitle }};" class="imageFondTitre">
          <h1>{{ block.settings.title }}</h1>
        </div>
      {% else %} {%comment%} Si texte {%endcomment%}
        <div style="{{ block.settings.positionLigneDescription }}; grid-column: {{ block.settings.positionColonneDescription }}; font-size: {{ block.settings.tailleTexte | append: 'px' }}; font-style: {{ block.settings.fontTexte }} color: {{ block.settings.couleurTexte }};" class="imageFondTexte">
          {{ block.settings.description }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
style="background-image: url('{{ section.settings.collectionImg | img_url:'5760x5760' }}');"
{%comment%} Ici le schema d'une Image avec un titre ou du texte
Il a une image et titre,texte avec choix de la taille, du style de texte, de la couleur et de la position de chacun {%endcomment%}
{% schema %}
{
  "name":"imageFondTitreTexte",
  "max_blocks": 9,
  "settings":[
      {
          "id":"image",
          "type":"image_picker",
          "label":"Mon image"
      },
      {
        "id":"nbColonne",
        "type":"number",
        "label":"Nombre de colonne",
        "default":5
      },
      {
        "id":"nbLigne",
        "type":"number",
        "label":"Nombre de ligne",
        "default":5
      }
  ],
  "blocks":[
      {
        "type":"composeTitle",
        "name":"composeTitle",
        "settings":[
          {
            "id":"title",
            "type":"text",
            "label":"Titre",
            "default":"Mon titre"
          },
          {
            "type": "color",
            "id": "couleurTitle",
            "label": "Couleur du titre",
            "default": "#d35400"
          },
          {
            "type": "text",
            "id": "tailleTitre",
            "label": "taille du titre",
            "default": "75"
          },
          {
            "type": "font_picker",
            "label": "style de titre",
            "id": "fontTitre",
            "default": "claire_news_n3"
          },
          {
            "id":"positionLigneTitre",
            "type":"number",
            "label":"Numero de ligne du titre",
            "default":1
          },
          {
            "id":"positionColonneTitre",
            "type":"number",
            "label":"Numero de colonne du titre",
            "default":1
          }
        ]
      },
      {
        "type":"composeTexte",
        "name":"composeTexte",
        "settings":[
          {
            "type":"richtext",
            "id":"description",
            "label":"Description",
            "default":"<p>Ma Description</p>"
          },
          {
            "type": "color",
            "id": "couleurTexte",
            "label": "Couleur du texte",
            "default": "#d35400"
          },
          {
            "type": "text",
            "id": "tailleTexte",
            "label": "taille du texte",
            "default": "75"
          },
          {
            "type": "font_picker",
            "label": "style de texte",
            "id": "fontTexte",
            "default": "claire_news_n3"
          },
          {
            "id":"positionLigneDescription",
            "type":"number",
            "label":"Numero de ligne de la description",
            "default":1
          },
          {
            "id":"positionColonneDescription",
            "type":"number",
            "label":"Numero de colonne de la description",
            "default":1
          }
        ]
      }
  ],
  "presets":[
    {
      "category":"Presentation",
      "name": "Image de fond avec titre ou texte"
    }
  ]
}
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
  .imageFond{
    width:100%;
    height:auto;
  }
  .TitreEtTexte{
    display:grid;
  }
  .imageFondTitre{
    
  }
  .imageFondTTexte{

  }
{% endstyle %}