{%comment%} Le html d'un produit {%endcomment%}
<div class="productShow">  
  <a class="aRef" href="{{ section.settings.productLink }}">
    <div class="product-img">
    <img id="{{ section.id }}" class="product-img" 
      onmouseout="changeImageProduct({{ section.id }}, {{ section.settings. | img_url }})" 
      onmouseover="changeImageProduct({{ section.id }}, {{ section.settings.imgProduct2 | img_url }})" 
      src="{{ section.settings.imgProduct1 | img_url: "300x300" }}"
        alt="ProductImg">
    </div>
    <div class="product-details">
      <h3 class="product-details-Nom">{{ section.settings.productName }}</h3>
      <p class="product-details-Prix">{{ section.settings.productPrice }}</p>
    </div>
  </a>
</div>

{%comment%} Le schema qui décrit un produit {%endcomment%}
{% schema %}
  {
    "name": "Show Product",
    "settings": [
      {
        "id":"imgProduct1",
        "type":"image_picker",
        "label":"First Image of your product"
      },
      {
      "id":"imgProduct2",
      "type":"image_picker",
      "label":"Second Image of your product"
      },
      {
        "id" :"productName",
        "type":"text",
        "label" : "Nom du produit",
        "default" : "Nom du produit"  
      },
      {
        "id" :"productPrice",
        "type":"text",
        "label" : "Prix du produit",
        "default" : "80000"
      },
      {
        "id" :"productDescription",
        "type":"richtext",
        "label" : "Description du produit",
        "default" : "<p>Description du produit</p>"
      },
      {
        "id" :"poductLink",
        "type":"url",
        "label" : "Product Link"
      }
    ]
  }
{% endschema %}