<div class="productShow">
  {{ section.settings.productName }}
  {{ section.blocks.settings.productPrice }}
  {{ section.blocks.settings.productDescription }}
  {%comment%}
  <h3><a class="productTitle" href="">  </a></h3><br>
  {% for block in section.blocks %}
    <div class="productImage">

    </div>
    <div class="productText">
      <p class="productPrice">productPrice</p>
      <p class="producDesc">productDesc</p>
      {{ block.settings.productPrice }}
      {{ block.settings.productDescription }}
      <button><a class="aRef" href=""><i class="fas fa-shopping-basket"></i></a></button>
    </div>
  {% endfor %}
  {%endcomment%}
</div>

{% schema %}
{
  "name":"Show Product",
  "settings": [
    {
      "type":"text",
      "id" :"productName",
      "label" : "Description du produit",
      "default" : "Description du produit"  
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
    "type":"product",
    "name":"productShow",
    "settings" : [
        {
        "type":"text",
        "id" :"productPrice",
        "label" : "Prix du produit",
        "default" : "80000"
        },
        {
        "type":"text",
        "id" :"productDescription",
        "label" : "Description du produit",
        "default" : "Description du produit"
        },
        {
        "type":"text",
        "id" :"poductLink",
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Show Product",
      "category":"Contenu"
    }
  ]
}
{% endschema %}