<div class="productShow">
  {{ section.settings.productName }}
  {{ section.settings.productPrice }}
  {{ section.settings.productDescription }}
  {%comment%}
  <h3><a class="productTitle" href="">  </a></h3><br>
  {% for block in section.blocks %}
    <div class="productImage">

    </div>
    <div class="productText">
      <p class="productPrice">productPrice</p>
      <p class="producDesc">productDesc</p>
      {{ block.settings.productPrice }}
      {{ block.settings.productDescription }}
      <button><a class="aRef" href=""><i class="fas fa-shopping-basket"></i></a></button>
    </div>
  {% endfor %}
  {%endcomment%}
</div>

{% schema %}
  {
    "name": "Show Product",
    "settings": [
      {
        "id" :"productName",
        "type":"text",
        "label" : "Nom du produit",
        "default" : "Nom du produit"  
      },
      {
        "id" :"productPrice",
        "type":"text",
        "label" : "Prix du produit",
        "default" : "80000"
      },
      {
        "id" :"productDescription",
        "type":"richtext",
        "label" : "Description du produit",
        "default" : "Description du produit"
      },
      {
        "type":"text",
        "id" :"poductLink"
      }
    ]
  }
{% endschema %}