<div class="productShow">
  <div class="productImage">
    <a class="aRef" href={{ section.settings.poductLink }}><img src=""></a>
  </div>
  <div class="productText">
    <h3><a class="productTitle" href=lien> {{ section.settings.productName }} </a></h3><br>
    <p class="productPrice"> {{ section.settings.productPrice }} </p>
    <p class="producDesc"> {{ section.settings.productDescription }} </p>
    <button><a class="aRef" href={{ section.settings.poductLink }}><i class="fas fa-shopping-basket"></i></a></button>
  </div>
</div>>

{% schema %}
{
  "name":"Show Product",
  "settings": [
      {
        "type":"text",
        "id" :"productName",
        "label" : "Description du produit",
        "default" : "Description du produit"
      },
      {
      "type":"text",
      "id" :"productPrice",
      "label" : "Prix du produit",
      "default" : "80000"
      },
      {
      "type":"text",
      "id" :"productDescription",
      "label" : "Description du produit",
      "default" : "Description du produit"
      },
      {
      "type":"url",
      "id" :"poductLink",
      }
    ],
  "presets": [
    {
      "name": "Show Product",
      "category":"Contenu"
    }
  ]
}
{% endschema %}