<div class="productShow">
  {%comment%}
  {{ section.settings.productName }}
  {{ section.settings.productPrice }}
  {{ section.settings.productDescription }}
  
  <h3><a class="productTitle" href="">  </a></h3><br>
  {% for block in section.blocks %}
    <div class="productImage">

    </div>
    <div class="productText">
      <p class="productPrice">productPrice</p>
      <p class="producDesc">productDesc</p>
      {{ block.settings.productPrice }}
      {{ block.settings.productDescription }}
      <button><a class="aRef" href=""><i class="fas fa-shopping-basket"></i></a></button>
    </div>
  {% endfor %}
  {%endcomment%}
  
  <ul class="productShow-ul">
    <li class="product-li-item-0">
      <a class="aRef" href="X">
        <div class="product-img">
          <img class="product-img-0" onmouseout="this.src='sylvie-strohl.com/wp-content/uploads/2019/12/sac_%C3%A0_main_marine_rouge-CELIA_n%C2%B02-HIVER-CAPE_COD-Sylvie_Strohl-face-700x700.jpg';" 
          onmouseover="this.src='sylvie-strohl.com/wp-content/uploads/2019/12/sac_%C3%A0_main_marine_rouge-CELIA_n%C2%B02-HIVER-CAPE_COD-Sylvie_Strohl-int%C3%A9rieur-700x467.jpg';"
            alt="ProductImg">
        </div>
        <div class="product-details">
          <h3 class="product-details-Nom">Nom du produit</h3>
          <p class="product-details-Prix">Prix du produit</p>
        </div>
      </a>
    </li>
    <li class="product-li-item-1">
      <a class="aRef" href="X">
      <div class="product-img">
        <img class="product-img-0"
          src="https://sylvie-strohl.com/wp-content/uploads/2019/12/sac_%C3%A0_main_marine_rouge-CELIA_n%C2%B02-HIVER-CAPE_COD-Sylvie_Strohl-face-700x700.jpg"
          alt="ProductImg">
        <button>
          <li class="fa-shopping-basket"></li>
        </button>
      </div>
      <div class="product-details">
          <h3 class="product-details-Nom">Nom du produit</h3>
          <p class="product-details-Prix">Prix du produit</p>
      </div>
      </a>
    </li>
    <li class="product-li-item-2">
      <a class="aRef" href="X">
        <div class="product-img">
          <img class="product-img-2"
            src="https://sylvie-strohl.com/wp-content/uploads/2019/12/sac_%C3%A0_main_marine_rouge-CELIA_n%C2%B02-HIVER-CAPE_COD-Sylvie_Strohl-face-700x700.jpg"
            alt="ProductImg">
          <button>
            <li class="fa-shopping-basket"></li>
          </button>
        </div>
        <div class="product-details">
          <h3 class="product-details-Nom">Nom du produit</h3>
          <p class="product-details-Prix">Prix du produit</p>
        </div>
      </a>
    </li>
    <li class="product-li-item-3">
      <a class="aRef" href="X">
        <div class="product-img">
          <img class="product-img-3"
            src="https://sylvie-strohl.com/wp-content/uploads/2019/12/sac_%C3%A0_main_marine_rouge-CELIA_n%C2%B02-HIVER-CAPE_COD-Sylvie_Strohl-face-700x700.jpg"
            alt="ProductImg">
          <button>
        <li class="fa-shopping-basket"></li>
        </button>
        </div>
        <div class="product-details">
          <h3 class="product-details-Nom">Nom du produit</h3>
          <p class="product-details-Prix">Prix du produit</p>
        </div>
      </a>
    </li>
  </ul>
</div>

{%comment%}
{% schema %}
  {
    "name": "Show Product",
    "settings": [
      {
        "id" :"productName",
        "type":"text",
        "label" : "Nom du produit",
        "default" : "Nom du produit"  
      },
      {
        "id" :"productPrice",
        "type":"text",
        "label" : "Prix du produit",
        "default" : "80000"
      },
      {
        "id" :"productDescription",
        "type":"richtext",
        "label" : "Description du produit",
        "default" : "<p>Description du produit</p>"
      },
      {
        "id" :"poductLink",
        "type":"text",
        "label" : "Product Link"
      }
    ]
  }
{% endschema %}
{%endcomment%}


Img1
Img2

Titre
Description
Prix
link