{%comment%} Ici la prise en compte du schema {%endcomment%}
{% assign bg_color = section.settings.couleurFond %}

{%comment%} Ici le html{%endcomment%}
<div class="texteCadre">
    {%for block in section.blocks %}
        <div>
            {% if block.settings.image_position == 'Avant' and block.settings.anImage == true %}
                    <img src={{ block.settings.oneImage | img_url: '100x100' }} alt="{{ section.id }}">
            {% endif %}
            <p style="text-align: {{ positionTexte }}; color: {{ block.settings.couleurtexte }}; font-size: {{ block.settings.tailletexte | append: 'px' }};">
                {{ block.settings.text }} </p>
            {% if block.settings.image_position == 'Apres' and block.settings.anImage == true %}
                <img src={{ block.settings.oneImage | img_url: '100x100' }}
                    alt="{{ section.id }}">
            {% endif %}
        </div>
    {% endfor %}
</div>

{%comment%} Ici le schéma du titre avec couleur, style, background-color etc {%endcomment%}
{% schema %}
{
    "name":"Texte Encadre",
    "settings":[
        {
            "type": "color",
            "id": "couleurFond",
            "label": "Couleur du fond",
            "default": "#ffffff"
        }
    ],
    "max_blocks":4,
    "blocks":[
    {
        "type":"oneParagraphe",
        "name":"oneParagraphe",
        "settings":[
            {
                "id":"text",
                "type":"text",
                "label":"text",
                "default":"Mon texte"
            },
            {
                "type": "color",
                "id": "couleurtexte",
                "label": "Couleur du texte",
                "default": "#d35400"
            },
            {
                "type": "text",
                "id": "tailletexte",
                "label": "taille du texte",
                "default": "75"
            },
            {
                "type": "radio",
                "id": "texte_position",
                "options": [
                    { "value": "Left", "label": "Gauche"},
                    { "value": "Center", "label": "Milieu"},
                    { "value": "Right", "label": "Droite"},
                    { "value": "Suite", "label": "A la suite"}
                ],
                "label": "Position du texte"
            },
            {
                "id":"oneImage",
                "type":"image_picker",
                "label":"une image"
            },
            {
                "id":"anImage",
                "type":"checkbox",
                "label":"Ajouter une image ?",
                "default" : false
            },
            {
                "type": "radio",
                "id": "image_position",
                "options": [
                    { "value": "Avant", "label": "Avant le texte"},
                    { "value": "Apres", "label": "Apres le texte"}
                ],
                "label": "Position de l'image"
            }
        ]
    }
  ]
}
{% endschema %}

{%comment%} Ici le style css{%endcomment%}
{% style %}
    .texteCadre{
        margin-bottom:25px;
        margin-top:25px;
        border: groove;
        display: grid;
        border-color: {{ bg_color }};
    }
{% endstyle %}
