{%comment%} Ici le html d'affichage {%endcomment%}
<div style="grid-template-columns:repeat({{ section.settings.nbColonne }},1fr); grid-template-rows:repeat({{section.settings.nbLigne}},1fr);" class="toutTypeTexte">
  {% for block in section.blocks %}
    {% if block.type == 'composeTitle' %} {%comment%} Si Text {%endcomment%}
      <div style="grid-row:{{ block.settings.positionLigneTitre }}; grid-column:{{ block.settings.positionColonneTitre }};" class="composeTitle">
        <h1 style="font-size:{{ block.settings.tailleTitre | append:'px' }}; color: {{ block.settings.couleurTitle }};">{{ block.settings.title }}</h1>
      </div>
    {% elsif block.type == 'composeDescription' %} {%comment%} Si richText {%endcomment%}
      <div style="grid-row:{{ block.settings.positionLigneDescription }}; grid-column:{{ block.settings.positionColonneDescription }};" class="composeDescription">
        {{ block.settings.description }}
      </div>
    {% else %} {%comment%} Si boutton {%endcomment%}
      <div style="grid-row:{{ block.settings.positionLigneBoutton }}; grid-column:{{ block.settings.positionColonneBoutton }};" class="composeButton">
        <a class="aRef" href="{{ block.settings.urlButton }}"><button class="buttonRef" style="font-size:{{ block.settings.tailleTexteButton }};color:{{ block.settings.couleurTextButton }};"> {{ block.settings.textButton }}  </button></a>
      </div>
    {% endif %}
  {% endfor %}
</div>


{%comment%} Ici le schema {%endcomment%}
{% schema %}
{
  "name":"toutTypeTexte",
  "max_blocks":8,
  "settings":[
    {
      "id":"nbColonne",
      "type":"number",
      "label":"Nombre de colonne",
      "default":5
    },
    {
      "id":"nbLigne",
      "type":"number",
      "label":"Nombre de ligne",
      "default":5
    }
  ],
  "blocks":[
    {
      "type":"composeTitle",
      "name":"composeTitle",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Mon titre"
        },
        {
          "type": "color",
          "id": "couleurTitle",
          "label": "Couleur du titre",
          "default": "#d35400"
        },
        {
          "type": "text",
          "id": "tailleTitre",
          "label": "taille du titre",
          "default": "75"
        },
        {
          "id":"positionLigneTitre",
          "type":"text",
          "label":"Numero de ligne format nb/nb ou nb",
          "default":"1"
        },
        {
          "id":"positionColonneTitre",
          "type":"text",
          "label":"Numero de colonne format nb/nb ou nb",
          "default":"1"
        }
      ]
    },
    {
      "type":"composeDescription",
      "name":"composeDescription",
      "settings":[
        {
          "type":"richtext",
          "id":"description",
          "label":"Description",
          "default":"<p>Ma Description</p>"
        },
        {
          "id":"positionLigneDescription",
          "type":"text",
          "label":"Numero de ligne format nb/nb ou nb",
          "default":"1"
        },
        {
          "id":"positionColonneDescription",
          "type":"text",
          "label":"Numero de colonne format nb/nb ou nb",
          "default":"1"
        }
      ]
    },
    {
      "type":"composeButton",
      "name":"composeButton",
      "settings":[
        {
          "type":"text",
          "id":"textButton",
          "label":"Texte de mon boutton",
          "default":"Texte de boutton"
        },
        {
          "type": "color",
          "id": "couleurTextButton",
          "label": "Couleur du texte du boutton",
          "default": "#d35400"
        },
        {
          "type": "text",
          "id": "tailleTexteButton",
          "label": "taille du texte du boutton",
          "default": "75"
        },
        {
          "id":"positionLigneBoutton",
          "type":"text",
          "label":"Numero de ligne format nb/nb ou nb",
          "default":"1"
        },
        {
          "id":"positionColonneBoutton",
          "type":"text",
          "label":"Numero de colonne format nb/nb ou nb",
          "default":"1"
        },
        {
          "id":"urlButton",
          "type":"url",
          "label":"Lien du boutton"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Tout texte",
      "category":"Texte"
    }
  ]
}

{% endschema %}

{%comment%} Ici le style {%endcomment%}
{% style %}
  .toutTypeTexte .a{
    text-decoration:none;
    color:black;
  }
  .toutTypeTexte .a:hover{
    color:gray;
  }
  .toutTypeTexte{
    margin-top:25px;
    margin-bottom:25px;
    display:grid;
  }
  .composeTitle{
    width:max-content;
    margin-left:10px;
    margin-right:10px;
  }
  .composeDescription{
    width:max-content;
    margin-left:10px;
    margin-right:10px;
  }
  .composeButton{
    width:max-content;
  }

  @media screen and (max-width:1000px) {
    .toutTypeTexte{
      grid-template-columns:repeat(2,1fr);
    }
  }

  @media screen and (max-width:576px) {
    .toutTypeTexte{
      grid-template-columns:repeat(1,1fr);
    }
  }
{% endstyle %}