{% comment %} Initialise les valeurs {% endcomment %}
{% assign texte_color = section.settings.couleurTexte %}
{% assign texte_size = section.settings.tailleTexte | append: 'px' %}

{% comment %} Le html de la page {% endcomment %}
<h2 class="visually-hidden">Footer</h2>
<footer class="footer">
    <div class="reseaux">
        <div class="iconesReseaux">
            {% include 'social-link', share_title: product.title, share_permalink: product.url, share_image: product %}
        </div>
        <p>©2021 SYLVIE STROHL</p>
        <p></p>
    </div>
    <div class="newsletter">
        {% for block in section.blocks %}
            {% if block.type == 'newsletter' %}
      			{% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                  	<p class="form--success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <h3>{{ block.settings.newsText }}</h3>
                    <label for="Email-newsletter" class="newsletter__label label--hidden">{{ 'general.newsletter_form.email_placeholder' | t }}</label>
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}" name="contact[email]" id="Email-newsletter" class="contactText" autocorrect="off" autocapitalize="off">
                    <input class="contactSubmit" type="submit"  name="commit" id="Subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  {% endif %}
      			{% endform %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="paiement">
        {% assign allPaiements = '(' %}
        <div class="iconesPaiement">
            {% for block in section.blocks %}
                {% if block.type == 'iconsPaiement' %}
                    <img style="grid-row:1;" alt="{{ block.settings.paiementTitre }}" src={{ block.settings.paiementIcon | img_url: '50x50'}}>
                    {% if allPaiements == '(' %}
                        {% assign allPaiements = allPaiements | append: block.settings.paiementTitre %}
                    {% else %}
                        {% assign allPaiements = allPaiements | append: ', ' | append: block.settings.paiementTitre %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% assign allPaiements = allPaiements | append: ')' %}
        <strong>PAIEMENT SÉCURISÉ</strong>
        <div><p> {{ allPaiements }} </p></div>
    </div>
    {% for block in section.blocks %}
        {% if block.type == 'oneTexte' %}
            <div class="oneTexte">
                <h3> {{ block.settings.paragrapheTitre }} </h3>
                <p> {{ block.settings.paragraphe }} </p>
            </div>
        {% elsif block.type == 'liens' %} {% comment %} liens {% endcomment %}
            <div class="liens">
                <h3> {{ block.settings.lienTitre }} </h3>
                {% for link in linklists[block.settings.menu].links %}
                    <a class="aRef" href="{{ link.url }}"> {{ link.title }} </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</footer>

{%comment%} ici le schema {%endcomment%}
{% schema %}
{
    "name":"Pied de page",
    "class":"section-footer",
    "settings":[
        {
            "type": "color",
            "id": "couleurTexte",
            "label": "Couleur du texte",
            "default": "#222222"
        },
        {
            "type": "text",
            "id": "tailleTexte",
            "label": "taille du texte",
            "default": "15"
        }
    ],
    "max_blocks":50,
    "blocks":[
        {
            "type":"liens",
            "name":"Liens",
            "settings":[
                {
                    "type":"text",
                    "id":"lienTitre",
                    "label":"Titre du bloc",
                    "default":"Titre du bloc"
                },
                {
                    "type":"link_list",
                    "id":"menu",
                    "label":"Selectionner un menu",
                    "default":"footer"
                }
            ]
        },
        {
            "type":"oneTexte",
            "name":"Texte",
            "settings":[
                {
                    "type":"text",
                    "id":"paragrapheTitre",
                    "label":"Le titre du paragraphe",
                    "default":"Parlez de votre entreprise"
                },
                {
                    "type":"richtext",
                    "id":"paragraphe",
                    "label":"Le paragraphe",
                    "default":"<p>Partagez...</p>"
                }
            ]
        },
        {
            "type":"newsletter",
            "name":"Formulaire de contact",
            "limit": 1,
            "settings":[
                {
                    "type":"text",
                    "id":"newsText",
                    "label":"Le titre",
                    "default":"Newsletter"
                }
            ]
        },
        {
            "type":"iconsPaiement",
            "name":"Icones Paiement",
			"limit":6,
            "settings":[
                {
                    "type":"image_picker",
                    "id":"paiementIcon",
                    "label":"Icone du paiement"
                },
                {
                    "type":"text",
                    "id":"paiementTitre",
                    "label":"Titre paiement",
                    "default":"VISA"
                }
            ]
        }
    ],
    "presets":[
        {
            "category":"Footer",
            "name": "Footer"
        }
    ]
}
{% endschema %}

{% style %}
/*CSS du FOOTER*/
.footer {
    margin-top: 25px;
    margin-bottom:0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    top: 0;
    align-items: center;
    font-size: 1rem;
    font-family: sans-serif;
    position: static;
    bottom: 0;
    text-align: center;
    background-color: #EEE;
    color: {{ texte_color }};
    font-size: {{ texte_size }};
}

.reseaux{
    display:grid;
    margin-top: 15px;
    margin-bottom:15px;
}

.iconesReseaux{
    display:grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: auto;
    margin:auto;
}

.newsletter{
    display: grid;
    margin-top: 15px;
    margin-bottom:15px;
}

.contactText{

}

.contactSubmit{
    color:white;
    background-color:black;
}

.contactSubmit:hover{
    color:black;
    background-color:white;
	cursor:pointer;
}

.paiement{
    display:grid;
    margin-top: 15px;
    margin-bottom:15px;
}

.iconesPaiement{
    display:grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: auto;
}

.oneTexte{
    display:grid;
    margin-top: 15px;
    margin-bottom:15px;
}

.liens{
    display:grid;
    margin-top: 15px;
    margin-bottom:15px;
}

@media screen and (max-width:1100px) {
    .footer {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:700px) {
    .footer {
        grid-template-columns: repeat(1,1fr);
    }
}
{% endstyle %}