{% comment %} Ici l'affectation des variables {% endcomment %}
{% assign bg_color = section.settings.couleurFond %}
{% assign title_color = section.settings.couleurTitle %}

{% comment %} Ici le html d'affichage {% endcomment %}
<div class="my_box">
    {% for block in section.blocks %}
        {% capture _ %} {% increment id %} {% endcapture %}
        <div id ="one_product-{{ id }}" class="one_product">
            <h3 class="one_product_title"> {{ block.settings.title_product }}</h3>
            
            {% if block.settings.product_id == blank %}
                <button id="one_product_button-{{ id }}" class="one_product_button" onclick="open_products('{{ id }}')"> {{ block.settings.text_button }} </button>
                <div>
                    <img id="one_product_image-{{ id }}" src="{{ section.settings.image | img_url: 'small' }}" alt="{{ section.settings.image.alt }}">
                </div>
                <p id="one_product_price-{{ id }}" class="one_product_price"></p>
            {% else %}
                {% assign product = all_products[block.settings.product_id] %}
                <p id="one_product_price-{{ id }}" class="one_product_price"> {{ product.price }}</p>
                <script>
                    window.addEventListener("load", function(event) {
                        var product_id = {{ product.selected_or_first_available_variant.id | json }};
                        var product_image_src = {{ product.featured_image | img_url: 'small' | json }};
                        var product_image_alt = {{ product.featured_image.alt | json }};
                        var product_price = {{ product.price | money_with_currency | json }};
                        add_Product_To_Box(product_id, product_image_alt, product_image_src, product_price);
                        console.log('product id = ' + product_id);
                    });
                </script>
                <div>
                    <img id="one_product_image-{{ id }}" src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.featured_image.alt }}">
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<button class="add_to_cart_box" onclick="add_Box_To_Cart()" type="submit" id="add-{{ collections['Frontpage'].id }}">
    ajouter la box au panier
</button>

<button onclick="add_to_Cart_test()">
    Click me
</button>

{% for block in section.blocks %}
    {% capture _ %} {% increment box_id %} {% endcapture %}
    <div id="one_box-{{ box_id }}" class="one_box">
        {% if block.settings.collection_id != blank %}
            {% assign my_collection = block.settings.collection_id %}
            {% for product in  collections[my_collection].products %}
                {{ product.selected_or_first_available_variant.id }}
                <div class="product">
                    <img src="{{ product.featured_image | img_url: 'small' }}" alt="{{ product.featured_image.alt }}">
                    <h3 class="h3">{{ product.title }}</h3>
                    <button onclick="add_Product_To_Box('{{ product.selected_or_first_available_variant.id }}', '{{ product.featured_image.alt }}', '{{ product.featured_image | img_url: 'small' }}', '{{ product.price | money_with_currency }}')">
                        ajouter à ma boite
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}

{% comment %} Ici le schéma  {% endcomment %}
{% schema %}
{
  "name":"Ma boite personnalisé",
  "settings":[
    {
      "type": "color",
      "id": "couleurFond",
      "label": "Couleur du fond",
      "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "couleurTitle",
        "label": "Couleur du titre",
        "default": "#d35400"
    },
    {
        "id":"image",
        "type":"image_picker",
        "label":"Mon image si produit vide"
    }
  ],
  "max_blocks":50,
  "blocks":[
    {
        "type":"my_box",
        "name":"Une box personnalisé",
        "settings":[
            {
                "id":"title_product",
                "type":"text",
                "label":"Titre d'un produit",
                "default":"Mon titre"
            },
            {
                "id":"text_button",
                "type":"text",
                "label":"Texte du boutton du produit",
                "default":"Choisissez un produit"
            },
            {
                "type": "collection",
                "id": "collection_id",
                "label": "Collection pour ce produit",
                "info": "L'utilisateur aura le choix de sélectionner un produit dans la collection"
            },
            {
                "type": "product",
                "id": "product_id",
                "label": "Produit spécifique",
                "info": "L'utilisateur aura ce produit de présélectionné"
             },
             {
                "type": "checkbox",
                "id": "free_product",
                "label": "Produit gratuit ?"
             }
        ]
    }]
}
{% endschema %}


{% comment %} Ici le style css{% endcomment %}
{% style %} 
    .my_box{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        background-color: {{ bg_color }};
        margin:25px;
    }

    .one_product{
        grid-column:auto;
        display:grid;
        justify-content:center;
        text-align:center;
        margin:10px;
        border:solid;
    }

    .one_product_title{
        color: {{ title_color }};
        font-size: 14px;
    }

    .add_to_cart_box{
        border:solid;
        cursor:pointer;
        background:none;
        border-color:black;
    }

    .add_to_cart_box:hover{
        background-color:black;
        border-color:white;
    }

    .one_box{
        display:none;
        grid-template-columns: repeat(4,1fr);
    }

    .product{
        grid-column:auto;
    }
{% endstyle %}

<script>
    const items = [];
    const max_id = {{ id | json }};

    function open_products(id)
    {
        var my_product = document.getElementById('one_product-' + id);
        var my_box = document.getElementById('one_box-' + id);
        console.log('product = ' + my_product);
        console.log('my_box = ' + my_box);

        if(my_box.style.display != 'grid')
        {
            for (var i = 1; i <= max_id; i++)
            {
                document.getElementById('one_box-' + i).style.display = 'none';
                console.log('one_box-' + i);
            }
            my_box.style.display = 'grid';
        }
    }

    function add_Product_To_Box(product_id, alt_image, url_image, product_price)
    {
        for (var i = 1; i <= max_id; i++)
        {
            if(document.getElementById('one_box-' + i).style.display != 'none')
                var my_id = i;
        }
        var my_product = document.getElementById('one_product-' + my_id);
        var my_product_img = document.getElementById('one_product_image-' + my_id);
        var my_product_price =  document.getElementById('one_product_price-' + my_id);
        my_product_img.src = url_image;
        my_product_img.alt = alt_image;
        my_product_price.innerHTML = product_price;
        items[my_id] = product_id;
    }

    function add_Box_To_Cart()
    {

        for (var i = 1; i <= max_id; i++)
        {
            if(!items[i])
                var box_Incomplete = true;
        }

        if(!box_Incomplete)
        {
            Shopify.queue = [];
            var quantity = {{ cart.item_count }} ;
            var newArray = items;
            for (var i = 1; i <= max_id; i++) 
            {
                product = newArray[i];
                Shopify.queue.push(
                {
                    variantId: product
                });
            }
            Shopify.moveAlong = function() 
            {
                // If we still have requests in the queue, let's process the next one.
                if (Shopify.queue.length) 
                {
                    var request = Shopify.queue.shift();
                    var data = 'id='+ request.variantId + '&quantity=1';
                    console.log('data ? : ' + data);
                    $.ajax(
                    {
                        type: 'POST',
                        url: '/cart/add.js',
                        dataType: 'json',
                        data: data,
                        success: function(res)
                        {
                            Shopify.moveAlong();
                            quantity += 1;
                        },
                        error: function()
                        {
                            // if it's not last one Move Along else update the cart number with the current quantity
                            if (Shopify.queue.length)
                            {
                                Shopify.moveAlong();
                            }
                            else
                            {

                            }
                        }
                    });
                }
                // If the queue is empty, we add 1 to cart
                else 
                {
                    quantity += 1;
                }
            };
            Shopify.moveAlong();
        }
    }

    function add_to_Cart_test()
    {
        var cart = document.getElementById('CartContainer');
        console.log('myccart = ' + cart );
        // document.querySelector() finds, and returns, the first element
        // matching the supplied selector (or null, if no element is found):
        var el1 = document.getElementsByClassName('drawer__header');
        console.log('el1 = ' + el1 );

        // here we create an adjacent element from the string of HTML,
        // the 'afterend' argument states that this adjacent element
        // follows the el1 node, rather than preceding it or appearing
        // within:
        el1.insertAdjacentHTML('afterend', '<div class="extra">Ceci est un test OUIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII</div>');
    }
</script>

