{% comment %} Ici le javascript {% endcomment %}
<script>
  function switchMenu(numero)
  {
    var menuDesc = document.getElementById("menuButton-Description");
    var menuInfo = document.getElementById("menuButton-Informations");
    var infoDesc = document.getElementById("info-Description");
    var infoInfo = document.getElementById("info-Informations");
    
    if (numero < 2)
    {
        menuDesc.style.color = "gray";
        menuInfo.style.color = "black";
        infoInfo.style.display= "none";
        infoDesc.style.display = "grid";
    }
    else
    {
        menuInfo.style.color = "gray";
        menuDesc.style.color = "black";
        infoInfo.style.display = "grid";
        infoDesc.style.display = "none";
    }
  }

  function changeImageProduct(src)
  {
    var bigImg = document.getElementById("ficheProduit-BigImg");
    bigImg.src = src;
  }

  function nextImage(src)
  {
    var bigImg = document.getElementById("ficheProduit-BigImg");
    bigImg.src = src;
  }

  function show_Associate_Product(){
    var button = document.getElementById("show_Product_Associate");
    var products = document.querySelectorAll("[id='one_product_associate']");

    if (button.classList.contains('open'))
    {
      button.classList.remove('open');
      button.innerHTML = '<h2 class="h2">Produits associés</h2><i class="fas fa-plus"></i>';
      products.forEach(element =>  element.style.display = "none");
    }
    else
    {
      button.classList.add('open');
      button.innerHTML = '<h2 class="h2">Produits associés</h2><i class="fas fa-minus"></i>';
      products.forEach(element =>  element.style.display = "grid");
    }
  }

  function notice_Info(index)
  {
    var img = document.getElementById("product_Info_1-" + index);
    var content = document.getElementById("product_Info_2-" + index);
    var button = document.getElementById("button_product_associate-" + index);
    img.style.opacity = 0.33;
    content.style.opacity = 1;
    button.style.opacity = 1;
  }

  function notice_Info_Out(index){
    var img = document.getElementById("product_Info_1-" + index);
    var content = document.getElementById("product_Info_2-" + index);
    var button = document.getElementById("button_product_associate-" + index);
    img.style.opacity = 1;
    content.style.opacity = 0;
    button.style.opacity = 0;
  }


</script>

<div itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product" data-history-state>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% comment %}
    Get first image
  {% endcomment %}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ featured_image | img_url: 'grande' }}">
  <meta itemprop="name" content="{{ product.title }}{% if product.variants.size > 1 and product.selected_variant %} - {{ current_variant.title }}{% endif %}">

  {%comment%} product template avec, images - form - reseaux sociaux- produits en communs {%endcomment%}
  <div class="product_template">
      {%comment%} Zone sur les images {%endcomment%}
      <div class="product_images">
          {% if product.images.size > 0 %}
              <div class="image_product">
                  {% if product.images.size > 1 %}
                      <div class="ficheProduct-SousImg">
                          {% for image in product.images %}
                          {% capture _ %}{% increment id %}{% endcapture %}
                          <img class="SousImg-Img" 
                          id="ficheProduct-SousImg-{{ id }}" 
                          onclick=changeImageProduct('{{ image.src | img_url: '700x700' }}'); 
                          src="{{ image.src | img_url: 'small' }}" 
                          alt="{{ image.alt | escape }}"
                          data-src="{{ img_url }}">
                          {% endfor %}
                      </div>
                  {% endif %}

                  <div class="ficheProduit-BigImg">
                      <img id="ficheProduit-BigImg" class="BigImg-Image" src="{{ featured_image.src | img_url: '700x700' }}" alt="{{ featured_image.alt }}">
                  </div>
              </div>
          {% else %}
              <img src="https://cdn.shopify.com/s/images/admin/no-image-large.gif?da5ac9ca38617f8fcfb1ee46268f66d451ca66b4" alt="no-image">
          {% endif %}
      </div>

      {%comment%} Zone du formulaire composé du vendeur, du titre, des options, 
      des différentes taxes, les bouttons d'ajout du produit {%endcomment%}
      <div class="product_form">
          <h1 class="h2 title_form" itemprop="name">{{ product.title }}</h1>
          {% if section.settings.show_vendor %}
              <p class="product-item__vendor small--text-center">{{ product.vendor }}</p>
          {% endif %}

          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">
          {%- capture 'form_id' -%}AddToCartForm-{{ section.id }}{%- endcapture -%}
          {%- capture 'form_class' -%}
              product__form--add-to-cart{% if section.settings.product_form_width == 'large' %} product__form--full-width{% endif %}
          {%- endcapture -%}
          {% form 'product', product, id:form_id, class:form_class, data-cart-form: '' %}
            <select name="id" id="ProductSelect-{{ section.id }}">
              {% for variant in product.variants %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% unless variant.available %} disabled="disabled" {% endunless %} value="{{ variant.url }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {% if variant.available %}{{ variant.price | money_with_currency }}{% else %}{{ 'products.product.sold_out' | t }}{% endif %}</option>
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product__quantity quantity-wrapper">
                  <label for="Quantity" class="product__quantity-label">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity"
                  class="quantity-input"
                  name="quantity" value="1" min="1">
              </div>
            {% endif %}

            {% assign price = current_variant.price | money_without_trailing_zeros %}
            <p class="product__price{% if cart.taxes_included or shop.shipping_policy.body != blank %} product__price--has-policies{% endif %}">
              <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
              <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
              {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</span>
                  <span class="product__price--sale">{{ 'products.general.now_price_html' | t: price: price }}</span>
              {% else %}
                  <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                  <span class="product__price--reg js-price">
                  {{ price }}
                  </span>
              {% endif %}
              {% include 'product-unit-price', variant: current_variant %}
            </p>

            {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte">
                  {%- if cart.taxes_included -%}
                    {{ 'products.general.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
              </div>
            {%- endif -%}
            {{ form | payment_terms }}
            
            {% assign my_Url = product.selected_or_first_available_variant.url %}
            {% for item in cart.items %}
              {% if product.selected_or_first_available_variant.id == item.id %}
                {% if item.quantity >= product.selected_or_first_available_variant.inventory_quantity %}
                  {% assign place_Cart = true %}
                {% endif %}
              {% endif %}
            {% endfor %}
      
            <input type="hidden" name="id" data-productid="{{ product.id }}" class="product-select" value="{{ product.selected_or_first_available_variant.id }}" data-variant-title="{{ product.selected_or_first_available_variant.title }}" />

            {% if product.available and place_Cart == nil %}
              <button onclick="window.setTimeout(function(){ window.location.href='{{ my_Url }}'}, 1000)" id="AddToCart-{{ section.id }}" type="submit" name="add" class="btn btn--add-to-cart{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span class="btn__text">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            {% else %}
              <button type="button" class="btn btn--add-to-cart btn--disabled{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" disabled="disabled">
                  {{ 'products.product.sold_out' | t }}
              </button>
            {% endif %}
            {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
            {% endif %}

        {% endform %}
      </div>

      {%comment%} Zone des réseaux sociaux {%endcomment%}
      <div class="product_social">
          {% if section.settings.social_sharing_products %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
          {% endif %}
      </div>

      {%comment%} Zone des produits associes {%endcomment%}
      <div class="product_associate">
        <button id="show_Product_Associate" onclick="show_Associate_Product()" class="show_Product_Associate"><h2 class="h2">Produits associés</h2><i class="fas fa-plus"></i></button>
          {% assign associate_products = product.collections | first%}

          {% for one_product in associate_products.products %}
            {% if one_product.available and one_product.id != product.id %}
              <div id="one_product_associate" class="one_product_associate">
                {% include 'product-grid-item' with product_image_spacing: false, vendor_enable: false %}
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
</div>
{% comment %} Les informations sur le produit : sa description et ces informations complémentaires qui sont : 
- Variants, Poids, balises, type, Modèle  {% endcomment %}
<div class="infosComplementairesProduct">
    <div class="menu-infosComplementairesProduct">
        <div id="menuButton-Description" class="menuButton-Description" onclick="switchMenu(1)">
          Description
        </div>
        <div id="menuButton-Informations" class="menuButton-Informations" onclick="switchMenu(2)">
          Informations complementaires
        </div>
    </div>
    <div id="info-Description" class="info-Description">
      {% if product.description != '' %}
        <p>{{ product.description }}</p>
      {% else %}
        <p>Aucune description disponible pour ce produit</p>
      {% endif %}
    </div>

    <div id="info-Informations" class="info-Informations">
        <div class="info-Contenu">
            {% if product.selected_variant %}
              {% assign variant = product.selected_variant%}

              {% for option in variant.options %}
                {% for product_option in product.options_with_values %}
                  {% if product_option.values contains option  and product_option.name != 'Title' %}
                    <div class="une-Info-Contenu">
                      <p>{{ product_option.name }} :</p> 
                      <p>{{ option }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}

              <div class="une-Info-Contenu">
                <p>Quantité disponible :</p> 
                <p>{{ product.selected_variant.inventory_quantity }}</p>
              </div>

              {% if section.settings.notice_weight %}
                <div class="une-Info-Contenu">
                  <p>Poids :</p> 
                  <p>{{ variant.weight | weight_with_unit }}</p>
                </div>
              {% endif %}

            {% else %}
              {% comment %} l'affichage des variants {% endcomment %}
              {% for product_option in product.options_with_values %}
                {% if product_option != '' and product_option.name != 'Title' %}         
                  {% assign myvalues = '' %}
                  {% for value in product_option.values %}
                      {% if myvalues == '' %}
                          {% assign myvalues = value %}
                      {% else %}
                          {% assign myvalues = myvalues | append: ', ' | append: value %}
                      {% endif %}
                  {% endfor %}
                  <div class="une-Info-Contenu">
                      <p>{{ product_option.name }}</p>
                      <p>{{ myvalues }}</p>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            {% comment %} l'affichage des tags {% endcomment %}
            {% assign mytags = '' %}
            {% for tag in product.tags %}
                {% if mytags == '' %}
                    {% assign mytags = tag %}
                {% else %}
                    {% assign mytags = mytags | append: ', ' | append: tag %}
                {% endif %}
            {% endfor %}
            {% if mytags != '' %}
              <div class="une-Info-Contenu">
                  <p>Balises :</p> 
                  <p>{{ mytags }}</p>
              </div>
            {% endif %}

            {% comment %} l'affichage du type {% endcomment %}
            {% if product.type != '' %}
              <div class="une-Info-Contenu"> 
                  <p>Type : </p>
                  <p>{{ product.type }} </p>
              </div>
            {% endif %}
        </div>
    </div>
</div>

  {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
  {% endunless %}
  
  {% schema %}
  {
    "name": {
      "cs": "Produkt",
      "da": "Produkt",
      "de": "Produkt",
      "en": "Product",
      "es": "Producto",
      "fi": "Tuote",
      "fr": "Produit",
      "it": "Prodotto",
      "ja": "商品",
      "ko": "제품",
      "nb": "Produkt",
      "nl": "Product",
      "pl": "Produkt",
      "pt-BR": "Produto",
      "pt-PT": "Produto",
      "sv": "Produkt",
      "th": "สินค้า",
      "tr": "Ürün",
      "vi": "Sản phẩm",
      "zh-CN": "产品",
      "zh-TW": "產品"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "cs": "Zobrazit dodavatele",
          "da": "Vis leverandør",
          "de": "Lieferanten anzeigen",
          "en": "Show vendor",
          "es": "Mostrar proveedor",
          "fi": "Näytä myyjä",
          "fr": "Afficher le distributeur",
          "it": "Mostra fornitore",
          "ja": "販売元を表示する",
          "ko": "공급업체 표시",
          "nb": "Vis leverandør",
          "nl": "Leverancier weergeven",
          "pl": "Pokaż dostawcę",
          "pt-BR": "Exibir fabricante",
          "pt-PT": "Mostrar fornecedor",
          "sv": "Visa säljare",
          "th": "แสดงผู้ขาย",
          "tr": "Satıcıyı göster",
          "vi": "Hiển thị nhà cung cấp",
          "zh-CN": "显示厂商",
          "zh-TW": "顯示廠商"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": {
          "cs": "Zobrazit výběr množství",
          "da": "Vis antalsvælger",
          "de": "Mengenauswahl anzeigen",
          "en": "Show quantity selector",
          "es": "Mostrar selector de cantidad",
          "fi": "Näytä määrän valitsin",
          "fr": "Afficher le sélecteur de quantité",
          "it": "Mostra selettore quantità",
          "ja": "数量セレクターを表示する",
          "ko": "수량 선택기 표시",
          "nb": "Vis mengdevelger",
          "nl": "Hoeveelheidskiezer weergeven",
          "pl": "Pokaż selektor ilości",
          "pt-BR": "Exiba um seletor de quantidade",
          "pt-PT": "Mostrar um seletor de quantidade",
          "sv": "Visa kvantitetsväljare",
          "th": "แสดงตัวเลือกจำนวน",
          "tr": "Adet seçiciyi göster",
          "vi": "Hiển thị hộp chọn số lượng",
          "zh-CN": "显示数量选择器",
          "zh-TW": "顯示數量選擇器"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": {
          "cs": "Povolit sdílení produktů",
          "da": "Aktivér produktdeling",
          "de": "Teilen von Produkten aktivieren",
          "en": "Enable product sharing",
          "es": "Habilitar compartir productos",
          "fi": "Ota tuotejako käyttöön",
          "fr": "Activer le partage de produits",
          "it": "Permetti condivisione del prodotto",
          "ja": "商品の共有を有効にする",
          "ko": "제품 공유 활성화",
          "nb": "Aktiver produktdeling",
          "nl": "Schakel het delen van producten in",
          "pl": "Włącz udostępnianie produktów",
          "pt-BR": "Habilite o compartilhamento de produtos",
          "pt-PT": "Ativar a partilha de produtos",
          "sv": "Aktivera produktdelning",
          "th": "เปิดใช้การแชร์สินค้า",
          "tr": "Ürün paylaşımını etkinleştir",
          "vi": "Bật chia sẻ sản phẩm",
          "zh-CN": "启用产品共享",
          "zh-TW": "啟用產品分享"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "notice_weight",
        "label": "Afficher le poids de l'objet",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "cs": "Zobrazit dynamické tlačítko pokladny",
          "da": "Vis dynamisk betalingsknap",
          "de": "Dynamischen Checkout Button anzeigen",
          "en": "Show dynamic checkout button",
          "es": "Mostrar botón de pago dinámico",
          "fi": "Näytä dynaaminen kassapainike",
          "fr": "Afficher le bouton de paiement dynamique",
          "it": "Mostra pulsante di check-out dinamico",
          "ja": "動的チェックアウトボタンを表示する",
          "ko": "동적 결제 버튼 표시",
          "nb": "Vis dynamisk knapp for å gå til kassen",
          "nl": "Dynamische checkoutknop weergeven",
          "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
          "pt-BR": "Exibir botão de checkout dinâmico",
          "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
          "sv": "Visa dynamiska utcheckningsknappar",
          "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
          "tr": "Dinamik ödeme düğmeleri göster",
          "vi": "Hiển thị nút thanh toán nhanh",
          "zh-CN": "显示动态结账按钮",
          "zh-TW": "顯示動態結帳按鈕"
        },
        "info": {
          "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": true
      },
      {
        "type": "select",
        "id": "product_form_width",
        "label": {
          "cs": "Šířka produktového formuláře",
          "da": "Bredde af produktformular",
          "de": "Breite Produktformular",
          "en": "Product form width",
          "es": "Ancho del formulario del producto",
          "fi": "Tuotelomakkeen leveys",
          "fr": "Largeur du formulaire de produit",
          "it": "Larghezza scheda prodotto",
          "ja": "商品のフォームの幅",
          "ko": "제품 양식 폭",
          "nb": "Bredde på produktskjema",
          "nl": "Breedte productformulier",
          "pl": "Szerokość formularza produktu",
          "pt-BR": "Largura do formulário do produto",
          "pt-PT": "Largura do formulário do produto",
          "sv": "Produktformsbredd",
          "th": "ความกว้างของแบบฟอร์มสินค้า",
          "tr": "Ürün form genişliği",
          "vi": "Chiều rộng sản phẩm",
          "zh-CN": "产品表单宽度",
          "zh-TW": "產品表單寬度"
        },
        "default": "small",
        "options": [
          {
            "value": "small",
            "label": {
              "cs": "Malá",
              "da": "Lille",
              "de": "Klein",
              "en": "Small",
              "es": "Pequeño",
              "fi": "Pieni",
              "fr": "Petite",
              "it": "Small",
              "ja": "小",
              "ko": "스몰",
              "nb": "Liten",
              "nl": "Klein",
              "pl": "Mały",
              "pt-BR": "Pequeno",
              "pt-PT": "Pequeno",
              "sv": "Liten",
              "th": "เล็ก",
              "tr": "Küçük",
              "vi": "Nhỏ",
              "zh-CN": "小",
              "zh-TW": "小型"
            }
          },
          {
            "value": "large",
            "label": {
              "cs": "Velká",
              "da": "Stor",
              "de": "Groß",
              "en": "Large",
              "es": "Grande",
              "fi": "Suuri",
              "fr": "Grande",
              "it": "Large",
              "ja": "大",
              "ko": "라지",
              "nb": "Stor",
              "nl": "Groot",
              "pl": "Duży",
              "pt-BR": "Grande",
              "pt-PT": "Grande",
              "sv": "Stor",
              "th": "ใหญ่",
              "tr": "Büyük",
              "vi": "Lớn",
              "zh-CN": "大",
              "zh-TW": "大型"
            }
          }
        ]
      }
    ]
  }
  {% endschema %}