
<div class="productTemplate">
  {%comment%} Fiche Produit {%endcomment%}
  <div class="ficheProduct">
      {% assign current_variant = product.selected_or_first_available_variant %}
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
    
      {%comment%} Zone sur les images {%endcomment%}
      <div class="ficheProduct-SousImg">
        {% assign ficheProductnbImg = 0 %}
        {% for image in product.images %}
          {% capture _ %}{% increment id %}{% endcapture %}
          {% assign mysrc = image.src | img_url: 'compact' %}
          {% assign myId = "ficheProduct-SousImg-{{ id }}" %}
          <img class="SousImg-Img" id="ficheProduct-SousImg-{{ id }}" onclick=changeImageProduct(myId,mysrc); src="{{ image.src | img_url: 'small' }}" alt="{{ image.alt | escape }}">
        {% endfor %}
      </div>
    
      <div id="ficheProduit-BigImg" class="ficheProduit-BigImg">
        <img class="BigImg-Image" src="{{ featured_image.src | img_url: '700x700' }}" alt="{{ featured_image.alt }}">
        <button class="BigImg-Zoom"><i class="fas fa-search-plus"></i></button>
        <button class="BigImg-Right" onclick="";><i class="fas fa-chevron-right"></i></button>
        <button class="BigImg-Left" onclick="";><i class="fas fa-chevron-left"></i></button>
      </div>

      {%comment%} Zone sur le contenu de la fiche produit {%endcomment%}
      <div class="ficheProduct-Contenu">
        <div class="ficheProduct-Haut">
          {%comment%} Zone sur le titre et le prix {%endcomment%}
          <h1 class="ficheProduct-Contenu-Title">{{ product.title }}</h1>
          <h3 class="ficheProduct-Contenu-Prix">{{ product.price | money }}</h3>

          {%comment%} Zone des bouttons pour changer d'articles {%endcomment%}
          <div class="ficheProduct-OtherArticle">
            <a class="aRef" href={{ collection.next_product.url }}>
              <button class="buttonRef">
                <i class="fas fa-chevron-right"></i>
              </button>
            </a>
          
            <a class="aRef" href={{ collection.previous_product.url }}>
              <button class="buttonRef">
                <i class="fas fa-chevron-left"></i>
              </button>
            </a>
          </div>
        </div>
        
        {%comment%} Zone sur la description du produit {%endcomment%}
        <div class="ficheProduct-Desc">{{ product.description }}</div>
    
        {%comment%} Zone sur le contenu personnalisé : prix/quantity etc {%endcomment%}
        {% form "product", product %}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
            <select name="id">
              {% for variant in product.variants %}
              {% if variant.available == true %}
              <option value="{{variant.id}}"> {{ variant.title }} for
                {{ variant.price | money_with_currency }}</option>
              {% else %}
              <option disabled="disabled"> {{ variant.title }} - sold out!</option>
              {% endif %}
              {% endfor %}
            </select>
            <button type="submit" name="add" id="add" class="ajouterPanier">
              <i class="fas fa-cart-plus"></i> Ajouter au panier
            </button>
          </form>
          
        {% endform %}

        {%comment%} Zone des logos, l'admin les rajotue, jusqu'a 8 {%endcomment%}
        <div class="ficheProduct-Logos">
          {% for block in section.blocks %}
            {% if block.type == 'logo' %}
              <div class="logoDiv">
                <a class="aRef" href="{{ block.settings.logoUrl }}">
                  <img alt="{{ block.settings.logoUrl }}" src={{ block.settings.logoImage | img_url: '50x50' }}>
                </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    
      </div>
  </div>

  {% comment %} Les informations sur le produit : sa description et ces informations complémentaires qui sont : 
  - Variants, Poids, balises, type, Modèle  {% endcomment %}
  <div class="infosComplementairesProduct">
    <div class="menu-infosComplementairesProduct">
      <div id="menuButton-Description" class="menuButton-Description" onclick=switchMenu(1);>
        Description
      </div>
      <div id="menuButton-Informations" class="menuButton-Informations" onclick=switchMenu(2);>
        Informations complementaires
      </div>
    </div>
    <div class="info-Description">
      <p class="info-Contenu">
        {{ product.description }}
      </p>
    </div>
    <div class="info-Informations">
      <div class="info-Contenu">
        
        {% comment %} l'affichage des variants {% endcomment %}
        {% for product_option in product.options_with_values %}          
            {% assign myvalues = '' %}
            {% for value in product_option.values %}
              {% if myvalues == '' %}
                {% assign myvalues = value %}
              {% else %}
                {% assign myvalues = myvalues | append: ', ' | append: value %}
              {% endif %}
            {% endfor %}
            <div class="une-Info-Contenu">
              <p>{{ product_option.name }}</p>
              <p>{{ myvalues }}</p>
            </div>
        {% endfor %}

        {% comment %} l'affichage des tags {% endcomment %}
        {% assign mytags = '' %}
        {% for tag in product.tags %}
          {% if mytags == '' %}
            {% assign mytags = tag %}
          {% else %}
            {% assign mytags = mytags | append: ', ' | append: tag %}
          {% endif %}
        {% endfor %}
        <div class="une-Info-Contenu">
          <p>Balises :</p> 
          <p>{{ mytags }}</p>
        </div>


        {% comment %} l'affichage du type {% endcomment %}
        <div class="une-Info-Contenu"> 
          <p>Type : </p> 
          <p>{{ product.type }} </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "produit",
  "blocks":[
    {
      "type":"logo",
      "name":"logo",
      "limit":8,
      "settings":[
        {
          "type": "image_picker",
          "id": "logoImage",
          "label":"Image du logo"
        },
        {
          "type": "url",
          "id": "logoUrl",
          "label": "Lien de redirection"
        }  
      ]
    } 
  ]
}
{% endschema %}

{%comment%} Ici le style css {% endcomment %}
{% style %}
  .productTemplate{
    display: grid;
    width:80%;
    margin-right:10%;
    margin-left:10%;
    margin-top:25px;
    margin-bottom:25px;
  }
  /*CSS de la fiche d'un produit*/
  .ficheProduct {
    grid-column:1;
    grid-row:1;
    display:grid;
    grid-template-columns:repeat(3,1fr);
  }
  
  .ficheProduct-Img {
    display: grid;
    grid-column: 1;
    grid-row: 1;
  }
  
  .ficheProduit-BigImg {
    grid-column: 2;
    grid-row: 1;
    display:grid;
  }
  
  .BigImg-Image{
    z-index:1;
    grid-column:1;
    grid-row:1;
  }

  .BigImg-Zoom{
    z-index:2;
    background-color:white;
    grid-column:1;
    grid-row:1;
    width:max-content;
    margin:auto;
    margin-top:0;
    margin-left:0;
    padding:5px;
    border:none;
    color:black;
  }

  .BigImg-Zoom:hover{
    background-color:black;
    color:white;
  }

  .BigImg-Right{
    z-index:2;
    background-color:white;
    grid-column:1;
    grid-row:1;
    width:max-content;
    margin:auto;
    margin-bottom:25px;
    margin-right:0;
    border:none;
    color:black;
  }

  .BigImg-Right:hover{
    background-color:black;
    color:white;
  }

  .BigImg-Left{
    z-index:2;
    background-color:white;
    grid-column:1;
    grid-row:1;
    width:max-content;
    margin:auto;
    margin-bottom:0;
    margin-right:0;
    border:none;
    color:black;
  }

  .BigImg-Left:hover{
    background-color:black;
    color:white;
  }

  .ficheProduct-SousImg {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    background-size:contain;
    height:700px;
    overflow:auto;
    width:max-content;
  }

  .SousImg-Img{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  .SousImg-Img:hover{
    cursor:pointer;
  }

  .ficheProduct-Contenu {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    margin:25px;
  }
  
  .ficheProduct-Haut{
    display:grid;
  }

  .ficheProduct-Contenu-Title {
    grid-column: 1;
    grid-row: 1;
    font-size:20px;
    font-family:cursive;
    width:max-content;
  }
  
  .ficheProduct-Contenu-Prix{
    grid-column: 1;
    grid-row: 2;
    font-size:15px;
    font-family:cursive;
    width:max-content;
  }

  .ficheProduct-OtherArticle{
    display:grid;
    grid-column: 2;
    grid-row: 1;
    width:max-content;
    margin:auto;
    margin-top:0;
  }

  .ajouterPanier{
    padding:15px;
    border:solid;
    border-color:black;
    background-color:white;
    color:black;
    margin-right:0;
  }

  .ajouterPanier:hover{
    border:none;
    background-color:black;
    color:white;
  }

  .ficheProduct-Logos {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,1fr);
    border:solid;
    border-right:none;
    border-left:none;
    margin:auto;
  }

  .logoDiv{
    margin:5px;
  }

  .infosComplementairesProduct{
    display:grid;
    margin-top:25px;
    margin-bottom:25px;
    grid-column:1;
    grid-row:2;
  }

  .menu-infosComplementairesProduct{
    grid-column:1;
    grid-row:1;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:15px;
    display:grid;
    grid-column:1/2;
    font-size:15px;
    font-family:cursive;
  }

  .menuButton-Description{
    background:none;
    background-color:black;
    color:white;
    margin-bottom:10px;
  }

  .menuButton-Description:hover{
    cursor:pointer;
  }

  .menuButton-Informations{
    background:none;
    color:gray;
    background-color:white; 
  }

  .menuButton-Informations:hover{
    cursor:pointer;
  }

  .info-Description{
    display:none;
    border-left:solid;
    grid-column:2;
    grid-row:1;
    grid-column:3/10;
  }

  .info-Informations{
    display:grid;
    border-left:solid;
    grid-column:2;
    grid-row:1;
    grid-column:3/10;
  }
  
  .info-Contenu{
    margin-left:15px;
    display:grid;
  }

  .une-Info-Contenu{
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(1,1fr);
    display:grid;
  }
{% endstyle %}

{% comment %} Ici le javascript {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  function switchMenu(numero)
  {
    var menuDesc = document.getElementById("menuButton-Description");
    var menuInfo = document.getElementById("menuButton-Informations");
    var infoDesc = document.getElementById("info-Description");
    var infoInfo = document.getElementById("info-Informations");
    
    console.log("numero : " + numero);
    if (numero < 2)
    {
        menuDesc.style.background-color = "gray";
        menuDesc.style.color = "black";
        menuInfo.style.background-color = "black";
        menuInfo.style.color = "white";
        infoDesc.style.display= "none";
        infoInfo.style.display = "grid";
    }
    else
    {
        menuInfo.style.background-color = "gray";
        menuInfo.style.color = "black";
        menuDesc.style.background-color = "black";
        menuDesc.style.color = "white";
        infoDesc.style.display = "grid";
        infoInfo.style.display = "none";
    }
  }

  function changeImageProduct(src, alt)
  {
    var bigImg = document.getElementById("ficheProduit-BigImg");

    bigImg.innerHTML = "<img src=" + src + " alt=" + alt + ">"
  }
</script>